[2021-11-12 10:15] sameo opened #1 "Consider renaming the repo"
Although this repo is TDX specific for now, it may be able to support other TEEs. If there is both interest for that and technical feasibility, we should consider renaming it to e.g. `cc-shim`.

[2021-11-12 10:26] jyao1 commented on #1
Good suggestion. Agree.

[2021-11-12 10:53] jiangliu commented on #1
A repo with prefix "cc" will be great, that may be first crate designed for cc:)

[2021-11-18 15:00] c3d commented on #1
If you rename, there is also a bit of renaming in the design documents and other places, since there are many `td-` prefixes there as well.

[2021-11-18 17:15] jodh-intel commented on #1
`cc-shim` makes sense as most of us have probably forgotten about [this `cc-shim`](https://github.com/clearcontainers/shim) by now :smile:

[2021-11-22 10:07] jiangliu commented on #1
that's a long long story😄

[2021-11-22 14:49] jodh-intel commented on #1
@jiangliu - 哈哈! Yeah :smile:

[2021-11-30 10:30] c3d opened #3 "Switch to release versions of Rust build tools when possible"
Right now, the stable version of the Rust toolchain is not sufficient to build td-shim.

This issue is to acknowledge that this is known and will be fixed when the stable tool chain is good enough.

See for example comments by @jodh-intel and @c3d, and response by @jyaho1 in https://github.com/confidential-containers/td-shim/pull/2#r752365817_

[2021-11-30 13:53] c3d opened #4 "Make the global allocator thread safe"
I have issues with memory ordering in the allocator as written.

For some reason, I updated a thread that was marked as "resolved", and it did not "unresolve" it. So here is [a link to the comment in context](https://github.com/confidential-containers/td-shim/pull/2/files/3eb0cbc246a5eeb72e4747a978920fe6790b6786#r759165742), and here is a copy of that comment, because at least for me, the link to

[2021-12-09 23:54] jyao1 commented on #4
The global allocator in benchmark is for test purpose only. It is not thread safe by design. We only allow BSP use heap.
See https://github.com/confidential-containers/td-shim/blob/staging/benchmark/src/lib.rs#L56

[2021-12-10 09:20] c3d commented on #4
Shouldn't it be under `#[cfg(test)` or `#[cfg(feature="benches")]` in that case?

Also, what kind of tests? Asking because "benchmark" seems to suggests that we are talking about performance testing. In that case, won't you introduce a bias by having the global allocator be "over-optimized" ?

Unsafe by design? Hmm…

This is not enforced anywhere that I can see (except now a comment after I asked

[2021-12-14 15:54] sboeuf opened #8 "Inconsistent interfaces compared to TDVF"
TD Shim is described as a lightweight version of TDVF. In theory that should only mean it supports less features compared to what's supported by TDVF, but in practice we can see the interfaces are also different and the expectations on what can be passed from the VMM are different.
I think the goal is to be able to run both TDVF and TD Shim with the same internal implementation from the VMM, meani

[2021-12-14 15:54] sboeuf commented on #8
/cc @jyao1 @jiangliu

[2021-12-14 16:08] jyao1 commented on #8
I don't like the idea to pass RSDP address. The reason is 1) all guest memory shall be managed by TD-Shim, 2) all VMM input shall be extended.

If I understand correctly, you just want to have a way to let VMM pass DSDT and TD-Shim put DSDT to final FADT, right?

[2021-12-14 23:21] sboeuf commented on #8
I'm fine with that, but all we're looking for is consistency between the two versions of the firmware. As a reminder, for TDVF to support Cloud Hypervisor, we agreed on a solution that relies on passing the entire set of ACPI tables at once by copying them to the HOB. Adopting the same mechanism for TD Shim (given that TD Shim would accept all kinds of tables) would be a nice way not having to def

[2021-12-15 01:43] jyao1 commented on #8
I disagree. We never agree on a solution like this. Any misunderstanding?

[2021-12-15 09:38] sboeuf commented on #8
We agreed on a solution to pass the RSDP address along with the whole data size, given that we were copying the data (in that case the entire set of ACPI tables) to the HOB.

But I'm fine with updating this solution if you think passing each table one by one is a better alternative, and as long as both TDVF and TD Shim rely on the same mechanism.

[2021-12-15 09:39] jyao1 commented on #8
Let's get clear who is "we". I am sure I am not included there.

[2021-12-15 09:45] jyao1 commented on #8
Yes. that is our goal. Let's move to this direction.

[2021-12-15 10:40] sboeuf commented on #8
That's great!

About the need for a DSDT, would you be okay adding the support for it in TD Shim so that it can be passed all the way from the VMM into the guest?
And that way, both firmware versions would support it.

[2021-12-15 10:48] jyao1 commented on #8
One possible option I was thinking is that:
[code]
Then we can support both cases - with or without DSDT.

@jiangliu, what do you think?

[2021-12-15 13:09] rbradford commented on #8
When patching the tables I think it would be good to make sure to update the creator fields on the SDT to make it clear that the TD shim has modified the table. This would necessitate generating a new checksum but that will also be necessary for tables such as the FADT/FACP that point to the DSDT or the XSDP and RSDP which also point to the table addresses.

[2021-12-17 08:49] sboeuf commented on #8
ping @jiangliu

[2021-12-17 14:13] sboeuf commented on #8
Hi @jyao1, I have a question about TD Payload related to what the specification states:
[code]
Assuming the TD Shim has the ability to identify the payload type, why don't we always rely on the TD Shim to do so? I don't think we should expect the VMM to identify the payload type, especially since it's not doing anything with it other than passing it to the guest.

[2021-12-17 14:50] jyao1 commented on #8
@sboeuf, can we move different question to different issue ? I think this issue will only discuss ACPI.

[2021-12-17 15:03] sboeuf commented on #8
Sounds good!

[2021-12-17 15:05] sboeuf opened #9 "Payload type detection"
I have a question about TD Payload related to what the specification states:
[code]
Assuming the TD Shim has the ability to identify the payload type, why don't we always rely on the TD Shim to do so? I don't think we should expect the VMM to identify the payload type, especially since it's not doing anything with it other than passing it to the guest.

[2021-12-17 15:28] jyao1 commented on #9
You are right. If TD shim has ability to identity, then there is no need to let VMM pass the info.

For example, the VMM does not tell TD shim the detail of PayloadImageTypeExecutablePayload (PE/COFF image, or ELF image), the TD shim can detect it is PE/COFF or ELF.

But if TD shim cannot detect, then TD shim relies on VMM to pass the info.

What is your concern? or your proposal?

[2021-12-17 15:33] sboeuf commented on #9
Well my understanding from the spec is that TD Shim will __always__ be able to detect the payload type. I'm suggesting that if that's the case, then there's no point in having `HOB_PAYLOAD_INFO_TABLE` at all. The TD Shim should already know where the Payload is located since it provides the information through the TDVF sections already.
Basically I'm proposing some simplification of the spec, by r

[2021-12-20 08:52] jiangliu commented on #8
I think it's ok to optionally support DSDT, then the vmm/client could make the decision.

[2021-12-20 14:22] jyao1 commented on #9
I doubt if this is TRUE.
How TD shim know if a binary blob is PayloadImageTypeBzImage or PayloadImageTypeRawVmLinux ?

[2021-12-20 14:29] gaojiaqi7 opened #13 "Latest version "0.14.7" of crate x86_64 fails to build"
Solve the problem temporarily by fixing crate version to "0.14.6": https://github.com/confidential-containers/td-shim/pull/12

error[E0658]: panicking in constant functions is unstable
   --> C:\Users\gaojiaqi\.cargo\registry\src\github.com-1ecc6299db9ec823\x86_64-0.14.7\src\addr.rs:547:5
    |
547 |     assert!(align.is_power_of_two(), "`align` must be a power of two");
    |     ^^^^^^^^^^^^^^^^

[2021-12-20 14:30] jyao1 commented on #13
https://github.com/confidential-containers/td-shim/pull/12 is work-around to pass build.

Need a solution to use latest crate.

[2021-12-21 07:08] sboeuf commented on #9
Oh okay then I guess I read the spec the wrong way. Maybe something like the following would bring some clarity:
[code]

Well the same way you're suggesting the VMM will need to have some detection code, the TD Shim could have the same kind of detection mechanism.

But more than that, since the VMM is not the one preparing the payload and the boot parameters, it could be completely opaque and simp

[2021-12-21 08:08] jyao1 commented on #9
Sorry for the confusing. I would say in this way:

1. If TD shim includes payload and knows the payload type, then TD shim does not rely on VMM input. TD shim can boot payload directly.

2. If TD shim does not include payload, and rely on VMM input the payload, then VMM knows the payload and provides the payload type.

[2021-12-21 11:47] sboeuf commented on #9
Oh I see the payload can be included in the TD Shim binary. I didn't get that, and that explains why you expect the TD Shim to know the type in that case.

And just to clarify, is there any payload type detection code in TD Shim? Some code that looks at the payload and understands the type?

[2021-12-22 00:58] jyao1 commented on #9
TD Shim may *know* or *assume* Payload Type at build time. But I don't think TD Shim can *detect* Payload Type at runtime.
I will add some clarification in the spec.

[2021-12-25 14:35] #8 closed

[2021-12-25 14:35] #9 closed

[2021-12-27 09:04] gaojiaqi7 commented on #13
Lock the version of crate bootloader to avoid CI issue.

[2022-01-04 16:38] sboeuf commented on #9
Hi @jyao1, based on @rbradford's input, here are two main reasons why the TDShim should be able to detect the payload type:
1. New support for different payload types can't be added unless every VMM is modified
2. The VMM could "lie" to the firmware which could push it down a path that means it could then be potentially exploitable (since the firmware runs inside the TD)

I wanted to have your tho

[2022-01-05 00:36] jyao1 commented on #9
VMM is already modified if VMM wants to support and provide new PAYLOAD in metadata section.
VMM is not required to modify (provide payload type hob), if VMM does not support new PAYLOAD in metadata section.
I don't understand why there is concern.

In TDX, VMM already can lie almost everything to TD.
Before attestation, you cannot trust a TD, because VMM may provide a malicious TD.
In order to en

[2022-01-05 10:19] sboeuf commented on #9
The point is that if the firmware is able to detect the type, we wouldn't need to define a new GUID type and a list of accepted payload types, meaning there would be no changes required from the VMM's perspective.

Well to differentiate between vmlinux and bzImage, you can check if you find the magic numbers to identify an ELF, and if not present, you could check if this is a bzImage by checking t

[2022-01-05 14:43] jyao1 commented on #9
This is wrong. The ELF header is stripped for PayloadImageTypeRawVmLinux.

[2022-01-05 14:47] sboeuf commented on #9
Oh okay, but then I don't understand why it works for Cloud Hypervisor to rely on https://github.com/rust-vmm/linux-loader/blob/main/src/loader/x86_64/elf/mod.rs#L137-L156 to load `vmlinux` kernel?

[2022-01-05 15:21] sboeuf commented on #9
We really don't want to have the detection code to be added to Cloud Hypervisor when TDShim could be the one doing it.
Otherwise this would duplicate the detection code between the VMM and the firmware.
And we don't think it's appropriate to rely on the user to provide that information when there's a way to detect it.

I can send a PR to TDShim for the detection if you're okay with it.

[2022-01-06 09:25] jyao1 commented on #9
Anyone can submit PR. We can review what you propose.

Please remember we need support 3 types of payload defined in the current TdShim spec.

[2022-01-23 09:15] jiangliu commented on #3
@jyao1 any details information about why stick to nightly toolchain? We are trying to avoid using nightly toolchain in product:)

[2022-01-23 15:19] jiangliu opened #33 "Remove build.rs from rust-td-layout"
The `build.rs` is used to generate build time and runtime constants, it's a little over-complex. Should we remove the build.rs and maintain `build_time.rs` and `runtime.rs` directly?

[2022-01-24 03:30] jiangliu opened #34 "Build td-shim/ staging fails"
root@a484e09e9ade:/tdshim# cargo xbuild -p rust-tdshim --target x86_64-unknown-uefi --release
WARNING: There is no root package to read the cargo-xbuild config from.
   Compiling ring v0.16.20 (https://github.com/jyao1/ring.git?branch=uefi_support#3e042088)
   Compiling scroll_derive v0.10.5
error: failed to run custom build command for `ring v0.16.20 (https://github.com/jyao1/ring.git?branch=uefi

[2022-01-24 06:59] gaojiaqi7 commented on #34
hi @jiangliu it seems that **clang** cannot be found, can you please check if it is correctly configured on your host?

[2022-01-24 11:35] jiangliu commented on #34
Thanks, seems forgot to install clang.

[2022-01-24 11:39] jiangliu commented on #3
I'm trying to figure out a way to use rust stable toolchain. It may help to use dev container for tdshim. Does any test depend on TDX hardware or kvm? If no, feel it's feasible to create a container with dev environment for tdshim.
@jyao1 @sameo

[2022-01-24 13:30] xiaoyuxlu commented on #3
Hi jiangliu, I'm sorry that rust stable toolchain doesn't support in short-term. Currently some unstable features like ```#![feature(global_asm)]``` ```#![feature(alloc_error_handler)]``` etc is used. That require nightly rust.

No.

I think it's a good suggestion. This makes it easy to set up a development environment. But if you want to launch a TD you must have TDX hardware and TDX software sta

[2022-01-24 13:37] jyao1 commented on #3
Today, most firmware, bootloader, non-application projects are using nightly, for example:
- https://github.com/rust-osdev/bootloader
- https://github.com/rust-osdev/uefi-rs
- https://github.com/cloud-hypervisor/rust-hypervisor-firmware
- https://github.com/oreboot/oreboot
- https://github.com/tock/tock
- https://github.com/rustsbi/rustsbi

I think we have to wait until stable has better support f

[2022-01-24 14:28] xiaoyuxlu commented on #3
Another reason for using nightly is that current target ```x86_64-unknown-uefi``` is under "Tier 3" see: https://doc.rust-lang.org/nightly/rustc/platform-support.html. This means there is no official pre-build binary release. thus, we can't use ```rustup target add x86_64-unknown-uefi``` to add target libraries. So, we must cross build the libraries for ```core``` ```alloc``` libraries.  Rust prov

[2022-01-24 15:01] jiangliu commented on #3
Rust toolchain always depends nightly version to bootstrap. Once we have the sysroot (core) ready, we could build all our own crates with stable toolchains. Traditionally xargo/xbuild is used, which build the rust no_std library and all our own crates with nightly toolchain. Recently there's a new crate `sysroot`, https://github.com/DianaNites/cargo-sysroot, which build the no_std library with nig

[2022-01-24 16:36] #34 closed

[2022-01-25 00:27] xiaoyuxlu commented on #3
Sounds good! Have you tried it?

[2022-01-25 02:18] jiangliu commented on #3
Working on it, just resolved a bug of cargo-sysroot:
https://github.com/DianaNites/cargo-sysroot/issues/21#issuecomment-1020591314

[2022-01-25 02:37] jiangliu opened #38 "Convert build shell scripts into Makefile"
Currently there are several shell scripts under sh_scripts to build/test the td-shim components, it would be better convert some of them into Makefile, so it would be easier to integrate with CI systems.

[2022-01-28 02:48] jiangliu commented on #33
Think about it again, I still think we should split out the build.rs, will give it a try.

[2022-01-28 04:13] jiangliu opened #42 "Status track for merging the staging branch into the main branch"
As the td-shim has been merged into the staging branch, we need a plan to eventually merge it into main branch. Let's get it done piece by piece. So a checklist table is maintained here to track the status.

Approvers may review and approve the project by components, and mark a component as ready for merging in the following table. One all components has received enough approves, the staging branc

[2022-01-28 07:10] xiaoyuxlu commented on #33
Good idea.
I think this's good. It will also reduce dependencies during compilation.
Keep it simple !!!
and Thanks for your contribution.

[2022-01-28 08:44] c3d commented on #42
@jiangliu Thanks a lot for doing that. What about documentation / slides? Those are easier to merge first, no?

[2022-01-28 13:54] #33 closed

[2022-02-01 09:16] jyao1 opened #47 "Consider to remove"
Record this issue as comment in https://github.com/confidential-containers/td-shim/pull/45.

The mail_box is designed for BSP<->AP communication.

we can eliminate mailbox access inside of `parallel_accept_memory()` and `mp_accept_memory_resource_range()`.

For example, we can use below APIs:
[code]

[2022-02-02 13:45] jiangliu opened #52 "Add unit cases for td-layout/memslice.rs"
Current there's no unit test cases for td-layout/memslice.rs, it would be better to add unit test cases for it.

[2022-02-03 10:32] jiangliu commented on #42
Yes, let's move along that way.
It would be great to eventually merge the staging branch into the main branch, so we could keep the development history.

[2022-02-04 06:09] jiangliu commented on #38
Ready in both main and staging branches.

[2022-02-04 06:09] #38 closed

[2022-02-04 06:09] jiangliu opened #64 "Add unit tests for uefi-pi/fv"

[2022-02-05 03:03] jiangliu opened #69 "Add more doc for tdx-tdcall"
It would be helpful to quote some spec documentation in the tdx-tdcall crate, so it would be easier to understand the code.

[2022-02-05 15:18] jyao1 commented on #69
All TD-CALLs are documented at [TDX Module 1.0 EAS](https://software.intel.com/content/dam/develop/external/us/en/documents/tdx-module-1.0-public-spec-v0.931.pdf)

All TD-VMCALLs are documented at [GHCI 1.0](https://www.intel.com/content/dam/develop/external/us/en/documents/intel-tdx-guest-hypervisor-communication-interface-1.0-344426-002.pdf)

[2022-02-06 07:41] jiangliu opened #75 "staging: compile td-payload generates a warning"
root@7c4b62794fd1:/tdshim# cargo xbuild --target ./devtools/rustc-targets/x86_64-unknown-none.json -p td-payload --release
WARNING: There is no root package to read the cargo-xbuild config from.
warning: Linking two modules of different data layouts: '' is 'e-m:e-p270:32:32-p271:32:32-p272:64:64-i64:64-f80:128-n8:16:32:64-S128' whereas 'td_payload.35f7730e-cgu.8' is 'e-m:e-i64:64-f80:128-n8:16:32:

[2022-02-10 10:27] jiangliu opened #81 "Implement shim loader in td-shim-tools"
We have a linker `td-shim-ld` in the td-shim-tools crate, there should be a loader too.
The loader should take the responsibilities:
1) parse td-shim binary file into sections
2) validate section information
3) enforce present sections follow the td-shim spec

[2022-02-10 10:29] jiangliu opened #82 "Relocate the MAILBOX page to be continuous to the ACPI/event log regions"
The MAILBOX page should be relocated to upper address to be continuous to the ACPI/event log regions, so the lower region could be released.

[2022-02-11 02:04] gaojiaqi7 commented on #82
Hi @jiangliu , mailbox is located at 0xFF040000 (can be found in build time layout), do you think it is necessary to relocate it to a memory region adjacent to ACPI/event log?

[2022-02-11 02:19] jiangliu commented on #82
Yes，we could reuse the memory below mailbox/acpi/event log regions once the relocation is done.

[2022-02-11 02:43] jiangliu opened #84 "Combine elf-loader/pe-loader into td-loader"
Combine elf-loader/pe-loader into td-loader, so we have little crates to manage.

[2022-02-14 01:11] jyao1 commented on #82
Typically, the ideal memory layout is:
+---------------+
| Usable            |
+---------------+
| ACPI Reclaim |
+---------------+
| ACPI NVS       |
+---------------+
| Reserved        |
+---------------+

[2022-02-14 01:16] jyao1 commented on #81
1) Create a `td-shim-loader` library, that could be reused by the VMM
2) Create a `td-shim-checker` tool (consuming `td-shim-loader`), to validate the format of the final binary.

[2022-02-14 12:59] xiaoyuxlu opened #92 "regression: MSR access cause exception"
MSR access will cause VE exception that cause td-shim failure.

https://github.com/confidential-containers/td-shim/blob/staging/td-shim/src/bin/td-shim/td/tdx.rs

[code]

According to TDX spec,
1) the MSR access should be done by VMCALL, instead of MSR instruction.
2) the TDX module will enable NX by default. Not need to use MSR to enable them again.

This code is redundant and shall be removed.

[2022-02-14 13:00] xiaoyuxlu opened #93 "regression: HLT causes double exception"
See code below in exception handle.

https://github.com/confidential-containers/td-shim/blob/staging/td-exception/src/interrupt.rs
[code]

According to TDX spec, the HLT access should be done by VMCALL, instead of HLT instruction.

Using HLT directly will cause reentry to exception handle.

[2022-02-14 13:01] xiaoyuxlu opened #94 "regression: td_payload: New assert in td-payload/src/main.rs", line: 103"
This issue is found in commit hash 3a3bfe5fbed2a1c942283fd9a8fcff2be6969514

Run the latest code, it will show below exception message:
[code]

[2022-02-14 14:56] xiaoyuxlu opened #95 "regression: build failed, error[E0433]: failed to resolve: use of undeclared crate or module `td_layout`"
Follow the compilation steps in the readme  https://github.com/confidential-containers/td-shim/blob/3a3bfe5fbed2a1c942283fd9a8fcff2be6969514/README.md#build-tdshim will result in the following error:

[code]

[2022-02-14 15:56] jiangliu commented on #95
Strange, this should have been detected by the CI system. Something wrong with the CI?

[2022-02-15 06:35] jiangliu commented on #93
Close via #91

[2022-02-15 06:35] #93 closed

[2022-02-15 06:35] jiangliu commented on #92
Close via #91

[2022-02-15 06:35] #92 closed

[2022-02-15 06:38] jiangliu commented on #81
Yes, exactly.
It may be included into the td-shim-tools crate.

[2022-02-15 12:00] #84 closed

[2022-02-16 05:30] #95 closed

[2022-02-16 08:54] dimakuv opened #98 "Does TD-Shim support PVH-style direct kernel boot?"
I couldn't find any information in this repo whether TD-Shim supports (or has plans to support) the PVH-style direct kernel boot, in addition to the traditional Linux Boot protocol.

For reference, PVH ABI is described here: https://xenbits.xen.org/docs/unstable/misc/pvh.html.

From what I understand, TD-Shim currently only supports the Linux Boot protocol (filling in the "zero page").

On the oth

[2022-02-16 09:19] jiangliu commented on #98
FYI: https://github.com/confidential-containers/td-shim/pull/79

[2022-02-16 09:35] sboeuf commented on #98
@dimakuv I understand the confusion but it does work.

The reason is, in case of Cloud Hypervisor performing direct kernel boot in the non-TDX case, this is Cloud Hypervisor responsibility to handle the protocol and to prepare what's needed before booting. And for this case, Cloud Hypervisor only supports a PVH kernel binary to be provided as it only implements this protocol.

In case of TDX, the

[2022-02-16 09:40] jyao1 commented on #98
thanks @sboeuf to clarify that.

@dimakuv , do you see a user case, that there is need to support PVH-style direct kernel boot?
It is not supported today. And I think it could be added as an option, if there is a solid use case.

[2022-02-16 09:49] dimakuv commented on #98
Thanks @sboeuf, this is the part that I was missing (that non-TDX and TDX flows differ in the preparation-for-kernel-entry). In retrospect, this is obvious, since TD-Shim cannot trust the VMM to correctly handle the protocol.

@jyao1 No, currently I have no solid use case. I was just curious about the seeming incompatibility of TD-Shim and CloudHypervisor.

[2022-02-16 09:50] #98 closed

[2022-02-16 14:39] dimakuv opened #99 "Does TD-Shim require patches to QEMU/KVM?"
Of course, to test TD workloads, both QEMU and KVM must be TDX-enlightened.

But is it enough to use QEMU from https://github.com/intel/qemu-tdx/ and KVM from https://github.com/intel/tdx/tree/kvm repos?

Or are there any additional patches that must be applied specifically for TD-Shim?

Also, are there known "good stable" releases/commit hashes of QEMU and KVM that are recommended for use with TD

[2022-02-16 16:00] dimakuv opened #100 "TD-Shim spec doesn't mention device enumeration through the PCI bus"
The TD-Shim spec has this section: https://github.com/confidential-containers/td-shim/blob/main/doc/tdshim_spec.md#device-reporting, saying:

From the other parts of the spec, I see that TD-Shim will provide the MCFG ACPI table to the guest kernel (if PCIe is exposed by the VMM). Also, TD-Shim will provide newly-defined Simple Static PCI Routing Table (SPRT) ACPI table to the guest kernel. Finally

[2022-02-16 16:03] jiangliu commented on #100
In addition to PCI bus, there are some other type of virtual buses for micro-vm.
For example, dragonball and firecracker microvm uses an virtual MMIO bus instead of PCI buses in some scenarios.

[2022-02-16 16:03] #100 closed

[2022-02-17 05:50] gaojiaqi7 commented on #99
hi @dimakuv

There's no need to apply additional patches on KVM, but it is required to make some changes on QEMU (https://github.com/intel/qemu-tdx/) to support full features of td-shim such as ACPI tables and kernel direct boot. Since currently TDVF is using fw-cfg mechanism to get ACPI tables/ kernel/ command line from QEMU, and TD-Shim defines another way which is to pass these things through H

[2022-02-17 08:02] dimakuv commented on #100
Thanks for the reply! I understand the point about virtio-mmio bus.

But I'm still confused about the security guarantees of TD-Shim. So TD-Shim doesn't report any devices to the TD guest -- which I guess means that TD-Shim doesn't provide any *trusted*, TD-hardened device interface to the TD guest.

Instead, the TD guest must collect the available devices itself, based on the information from the

[2022-02-17 08:21] jyao1 commented on #100
Your understanding is correct.
TD-Shim cannot provide any trusted device to TD guest. In whole TDX 1.0 architecture, there is no such guarantee.

TdShim's job is to do minimal thing to boot the system. Since TdShim does not requires the device, there is no need to add device driver. The input from VMM is recorded to RTMR, e.g. ACPI table is recorded. If it contains a device, then the device info i

[2022-02-17 08:26] #99 closed

[2022-02-17 09:03] haowqs opened #103 "Failed to enable libfuzzer version 0.11.0"
Rust has the cargo-fuzz library to call libfuzzer
I want to test td-loader.

[code]
run elf
[code]

[2022-02-17 09:10] haowqs commented on #103
I modified the rust-toolchain file and switched the rust version to nightly.
runed result
[code]

[2022-02-17 09:29] dimakuv commented on #100
Thank you @jyao1! Now I get it.

[2022-02-17 09:31] dimakuv commented on #99
These TD-Shim-specific patches to QEMU are available somewhere, so I could fetch them?

[2022-02-17 09:49] gaojiaqi7 commented on #99
There‘re no such patches for QEMU as I know🙂

[2022-02-17 10:08] dimakuv commented on #99
So you're using unmodified QEMU from https://github.com/intel/qemu-tdx/ to test a subset of functionality in TD-Shim?

But you envision that to test the whole functionality of TD-Shim, QEMU will be patched to support this functionality (like VMM providing HOBs to TD-Shim)?

[2022-02-19 08:38] fidencio opened #104 "staging: The branch is not buidable due to broken external dependencies (on February 19th, 2022)"
[code]

[2022-02-19 08:39] fidencio commented on #104
I don't think there's much to do here apart from wait till it the external dependency gets fixed, but at least the issue report raises awareness and documents when breakages happen, regardless of those being on external dependencies or not.

[2022-02-19 08:41] jiangliu commented on #104
I have thought about to maintain local patches for cc/ring, but that will introduce "git submodule",  another annoying dependency:(

[2022-02-19 08:43] jiangliu commented on #104
Have you install the "nasm" package? I remember the same command succeeds on my side.

[2022-02-19 08:51] jyao1 commented on #104
I can build successfully with below:
[code]

With a warning is shown
[code]

Would you please double check if you are following readme?
[code]

[2022-02-19 08:54] jiangliu commented on #104
Confirmed, with a docker image built from devtools/dev_container/Dockerfile, the command succeeds:)
[code]

[2022-02-21 02:32] haowqs commented on #103
rust-version|libfuzzer|td-shim|result
:-:|:-:|:-:|:-:
nightly-2020-02-08|0.11.0|staging|no (td-shim fails to compile in this version)
nightly-2021-08-20|0.10.2|staging|yes
nightly-2020-02-08|0.11.0|staging|no (libfuzzer failed to start)

[2022-02-21 02:36] jyao1 commented on #103
Then please enable libfuzzer 0.10.2 at first.
Once we upgrade td-shim to be compatible with nightly-2020-02-08, we can update libfuzzer to 0.11.0.

[2022-02-21 07:12] haowqs opened #105 "[Bug] fill_end value requires bounds checking"
// td-shim/td-loader/src/pe.rs

fill_end may be larger than loaded_buffer length when running fuzzing
[code]

[2022-02-21 07:25] haowqs opened #106 "[Bug] Sections::parse and Files::parse offset require bounds checking"
// td-shim/uefi-pi/src/fv.rs

offset value may be larger than sections_buffer length

[code]
fv_header_size value may be larger than fv_buffer length
[code]

[2022-02-21 13:57] fidencio commented on #104
@jiangliu @jyao1, please, I'd really prefer if this would not be closed as "work for me" without we understand what's actually happening here, as more people can hit this one, even if by a misconfiguration on their side.

[code]

As you can see, CC is set to `clang`, AR is set to `llvm-ar`, `nasm` is installed and it is in the `$PATH`.  What else may I be missing here?

[2022-02-21 14:30] jiangliu commented on #104
Could you please help to confirm whether clang is installed on your system?
If I set CC=clang1, (which is apparently doesn't exist on my system), I got the same error as yours. So seems clang is missing on your system.
[code]

[2022-02-21 15:39] liuw1 opened #108 "[Bug] Should do sanity check for cfv before using it"
td-shim/src/bin/td-shim/main.rs : line 471

#[cfg(feature = "secure-boot")]
    {
        let cfv = memslice::get_mem_slice(memslice::SliceType::Config);
        let verifier = verifier::PayloadVerifier::new(payload, cfv);
        if let Ok(verifier) = &verifier {
            td_event_log.create_event_log(
                4,
                EV_PLATFORM_CONFIG_FLAGS,
                b"td payload",

[2022-02-21 16:23] fidencio commented on #104
@jiangliu, I really am ashamed. /o\

Looking my history here, at first I built everything inside my toolbox (a Fedora 35 container) and for some reason I totally erased that from my mind.  That's on me, my fault. /o\.

Of course, I had all the dependencies installed inside the toolbox, but not on my host OS ... and here we're right now.
Sorry for the noise, and I truly am embarassed about that. /o

[2022-02-21 16:23] #104 closed

[2022-02-21 16:34] jodh-intel commented on #104
@fidencio - honestly, it's useful to have issues like this as it's an easy mistake to make and having this issue makes the solution discoverable. It's bound to help someone in the future with the same problem!

Honestly, we should make `build.rs` check for the required tooling and fail early rather than the current behaviour imho.

[2022-02-21 16:38] jodh-intel opened #109 "Clarify why shim won't build with GCC"
https://github.com/confidential-containers/td-shim/blob/staging/README.md shows that the shim must be built with `clang`. However, we should:

- Explain why the default compiler oin most Linux distros (GCC) won't work.
- Understand and ideally fix the GCC issue.

[2022-02-21 16:45] jodh-intel opened #110 "build script should check dependencies and fail early"
Building the shim is currently somewhat awkward since you need:

- clang ([GCC won't work](https://github.com/confidential-containers/td-shim/issues/109)).
- nasm
- `cargo xbuild`

Admittedly, this _is_ documented in https://github.com/confidential-containers/td-shim/blob/staging/README.md, but we should make it easier for users by checking for the expected commands in `build.rs` so that the build

[2022-02-22 01:50] liuw1 commented on #52
I will take this task.

[2022-02-22 01:51] liuw1 commented on #64
I will take this task.

[2022-02-22 02:08] jyao1 opened #111 "rename rudra.md to static_analysis.md"
It helps people understand what rudra is.

[2022-02-22 03:19] jiangliu commented on #104
That's a great idea, but I do suggest to use dev container and Makefile, they are reproducible:)

[2022-02-22 05:21] jyao1 commented on #110
@jodh-intel, can you take this and propose a patch?

[2022-02-22 05:37] jiangliu commented on #111
Closed via #113

[2022-02-22 05:37] #111 closed

[2022-02-22 05:38] jyao1 opened #114 "Add more tools to devtools/dev_container/Dockerfile and Makefile"
Ref: https://github.com/confidential-containers/td-shim/pull/107#issuecomment-1047388165

We should add more tools to Dockerfile and Makefile, such as fuzzing (afl, libfuzzer, rudra, etc)

[2022-02-22 13:10] jodh-intel commented on #110
Yes, I can look at this, but I don't have privs to assign this issue to myself.

@sameo - could you possibly assign to me or grant me those privs?

[2022-02-22 14:44] jodh-intel commented on #104
@jiangliu's - I've only just seen this comment but I've just raised #116 to avoid issues like this.

[2022-02-22 14:48] jodh-intel commented on #52
Thanks @liuw1!

@jyao1 and @liuw1 - Could the public functions be changed to return a `Result` instead of just calling `panic()`?

[2022-02-22 14:48] jodh-intel commented on #64
Thanks @liuw1 !

[2022-02-22 15:08] jiangliu commented on #52
I have tried to do that, and have converted some unwrap()/expected()/panic!() to Result. But there are still plenty callsites:(
On the other hand, it's firmware instead of normal application, panic with clear messages is acceptable too:)

[2022-02-22 15:16] jyao1 commented on #52
Firmware is special.

The problem in firmware is that, even you can return result, you have to handle the situation to stop execution at some point. You cannot return back to hypervisor in case of critical error.

In general,
1) If we can continue and move forward boot into OS, then we should use Result.
2) If we cannot continue and have to stop booting, then using panic() is much better. At least

[2022-02-23 01:38] #64 closed

[2022-02-23 01:39] haowqs commented on #114
I want to add these tools.

[2022-02-24 01:37] #52 closed

[2022-02-24 03:13] haowqs commented on #114
@jiangliu
hi，I add tools to dockerfile and makefile, do I just need to implement these tools, or should I add both dockerfile and makefile?

[2022-02-24 03:14] haowqs commented on #114
|           |   dockerfile or makefile   |         dockerfile and makefile         |    dockerfile and makefile    |    dockerfile and makefile    |
| :-------: | :------------------------: | :-------------------------------------: | :---------------------------: | :---------------------------: |
|    afl/libfuzzer/rudra    |            yes             |                   yes                   | y

[2022-02-24 04:09] jiangliu commented on #114
Dockerfile is to install required tools/components, makefile is to actually execute tests.

[2022-02-25 02:17] gaojiaqi7 opened #121 "Report memory resources above 4G to payload"
Memory above 4G should be reported to payload through E820 table according to https://github.com/confidential-containers/td-shim/blob/main/doc/tdshim_spec.md#memory-map

[2022-02-25 02:20] gaojiaqi7 opened #122 "Protect against Spectre v1 side channel attack from untrusted input"

[2022-02-25 02:22] gaojiaqi7 opened #123 "Need to add sanity check for TDX Hob before use it"

[2022-02-27 13:40] gaojiaqi7 opened #125 "regression: Panic at Some(Entry point not found!) when secure-boot is enabled"
INFO - panic ... PanicInfo { payload: Any { .. }, message: Some(Entry point not found!), location: Location { file: "td-shim/src/bin/td-shim/main.rs", line: 153, col: 61 } }

[2022-02-28 01:45] #82 closed

[2022-03-01 02:45] liuw1 opened #129 "[Bug] Cannot create instances outside for some structs in tdx-tdcall/tdreport.rs"
Cannot create instances outside for some structs in tdx-tdcall/tdreport.rs. Since the element "resverd" is not public in these structs.

pub struct ReportMac {
    pub report_type: ReportType,
    reserved0: [u8; 12],
    pub cpu_svn: [u8; 16],
    pub tee_tcb_info_hash: [u8; 48],
    pub tee_info_hash: [u8; 48],
    pub report_data: [u8; 64],
    reserved1: [u8; 32],
    pub mac: [u8; 32],
}

pub

[2022-03-04 04:56] gaojiaqi7 opened #131 "TD-Shim needs to map all of the memory reported by VMM"
TD-Shim constructs the page table but only maps 0-36GB at now

[2022-03-04 05:02] jyao1 commented on #131
I think all memory only covers private memory (guest physical memory).
MMIO should not be included, because MMIO access is via TDVMCALL.

[2022-03-07 01:55] gaojiaqi7 commented on #125
https://github.com/confidential-containers/td-shim/commit/b011e7d20386e93f5cd9357bd7e52e45c4276415

[2022-03-07 01:55] #125 closed

[2022-03-07 01:56] gaojiaqi7 commented on #108
https://github.com/confidential-containers/td-shim/commit/65e1c6e5b52204abd292d925d5591d9c79e671ac

[2022-03-07 01:56] #108 closed

[2022-03-07 01:56] gaojiaqi7 commented on #106
https://github.com/confidential-containers/td-shim/commit/4d58caeb5e1779486b8ae415e1d8b6b022c5a97d

[2022-03-07 01:56] #106 closed

[2022-03-07 01:57] gaojiaqi7 commented on #105
https://github.com/confidential-containers/td-shim/commit/4b4e02d5d2d43e580f39bb8f5c7449571a3e4db4

[2022-03-07 01:57] #105 closed

[2022-03-07 15:47] jiangliu commented on #122
What's the possible attach scenario?

[2022-03-07 16:17] gaojiaqi7 opened #134 "CI: Fails to build PE format payload"
running "clang" "-O0" "-ffunction-sections" "-fdata-sections" "-g" "-fno-omit-frame-pointer" "--target=x86_64-pc-windows-msvc" "-I" "include" "-Wall" "-Wextra" "/GS" "/Gy" "/EHsc" "/GR-" "/Zc:wchar_t" "/Zc:forScope" "/Zc:inline" "/Zc:rvalueCast" "/sdl" "/Wall" "/wd4127" "/wd4464" "/wd4514" "/wd4710" "/wd4711" "/wd4820" "/wd5045" "/Od" "/RTCsu" "/WX" "-c" "/FoD:\\a\\td-shim\\td-shim\\target\\debug\

[2022-03-08 10:37] jiangliu opened #135 "Enhance td-shim to support multi-arch"
Currently the td-shim implementation has no support for AMD SEV/CSV etc, it would be great to enhance the td-shim code to prepare for mutli-arch support.

[2022-03-08 10:39] jiangliu opened #136 "Enhance td-shim/ResetVector to support test on non-TDX hardware platfroms"
It help ease the development if we could test td-shim on non-TDX hardware platforms. Of course, all TDX related functionality will be disabled on non-TDX hardware platform.
Basically we need to enhance ResetVector to support boot from real mode and then switch protected as what expected by TDX.

[2022-03-08 10:47] jiangliu opened #137 "Move more code from staging branch into main branch"
Currently we are facing the trouble of developing on two branches concurrently. So it would be great to speed up the progress to merge code from staging into main branch. To achieve that, we may:
- submit all merged code applicable to the main branch into the main branch
- td-loader
- td-shim library
- td-shim binary
- td-payload binary
- td-shim-tools (non-secure boot parts)
- integration tests
-

[2022-03-08 11:31] jyao1 commented on #137
Good step by step.

[2022-03-08 11:38] jyao1 commented on #135
I think we need AMD SEV/CSV expert to take a look at this.

[2022-03-08 11:42] jyao1 commented on #136
Agree from high level.

Question: What do you think the **interface** between hypervisor in non-tdx shim ?
Option 1: We reuse the normal non-tdx interface. E.g. Shim code runs from real mode. Shim gets memory info from CMOS.
Option 2: We reuse the td-shim interface. E.g. Shim code runs from protected mode. Shim gets the memory info via hob in RCX.

[2022-03-10 02:22] haowqs commented on #134
I want to solve this issue.

[2022-03-10 09:15] #110 closed

[2022-03-10 09:17] jiangliu commented on #136
I like option2, we should share as much code as possible with tdx.
Actually we need a shim for td-shim to setup the environment defined/expected by tdx

[2022-03-10 09:18] jiangliu commented on #135
@fitzthum any comments?

[2022-03-10 22:46] fitzthum commented on #135
I think it would be great to have a firmware that works on all platforms. We've been using OVMF with SEV mainly because that's where AMD have contributed their SEV support patches. Those patches can give us some ideas about how to support SEV elsewhere. Since SEV has 3 different features (SEV, -ES, SNP) we might be able to ease our way into supporting it.

The main question for me is what would `t

[2022-03-11 05:46] xiaoyuxlu commented on #109
My understanding is that
Rustc target of `TD-shim` is `x86_64-unknown-uefi` (PE format). Linux GCC generates ELF objs, but `rustc target x86_64-unknown-uefi` generates PE objs. So link failed. Maybe x86_64-w64-mingw32-gcc would work.

I think it's very difficult at the moment. Unless:
the distribution (GCC) supports compiling the PE format.
Or
We choose another rust-toolchain, like: x86_64-unknown

[2022-03-14 01:36] #134 closed

[2022-03-14 01:45] liuw1 commented on #129
I will fix this issue.

[2022-03-14 04:54] liuw1 opened #139 "Update readme and CI files to consistent with the flags change in PR 138"
We will meet build issue on Windows if we follow current readme to set LLVM environment variable.
[code]
BTW, some CI files (format.yml integration.yml library.yml) also need to be updated.

[2022-03-15 00:09] mxu9 commented on #81
As discussed with Jiewen, I will take this task and plan to start this work after I finish test-acpi-payload. ETA is ww15.

[2022-03-15 02:07] liuw1 commented on #129
It is not an real issue. So close it.

[2022-03-15 02:07] #129 closed

[2022-03-16 11:57] liuw1 commented on #139
[d048ce8](https://github.com/confidential-containers/td-shim/commit/d048ce8b3264e0794c5f4c866dff209af5638c31)

[2022-03-16 11:57] #139 closed

[2022-03-17 02:07] haowqs opened #153 "[Bug] Unit test error of td-uefi-pi/src/fv.rs"
td-uefi-pi/src/fv.rs

[code]

[2022-03-17 03:10] liuw1 commented on #153
I will fix it.

[2022-03-17 03:16] liuw1 opened #154 "[Bug] Build commands in doc/secure_boot_guide.md need to be updated"
Parts of build commands in doc/secure_boot_guide.md  is too old. We can not use these commands to build secure boot image.
Eg.
[code]
should be update to
[code]

[2022-03-17 03:16] liuw1 commented on #154
I will fix it.

[2022-03-17 12:12] fidencio opened #159 "td-shim: Booting up a VM with 14+ vCPUs fail due to: "VmBoot(PopulateHob(GuestMemoryWriteHob(InvalidGuestAddress(GuestAddress(4278464512)))))""
When booting up a TDX VM using Cloud Hypervisor with td-shim, using kata-containers guest and kernel images, it fails.

The components used are:
* cloud-hypervisor: v22.1, built with `--tdx` support
  * http://jenkins.katacontainers.io/job/kata-containers-2.0-clh-tdx-x86_64/
* guest kernel: vmlinuz-tdx-guest-v5.15-4-90-tdx
  * http://jenkins.katacontainers.io/job/kata-containers-2.0-kernel-tdx-x86

[2022-03-17 12:49] jyao1 commented on #159
It seems misunderstand. We did test for multiple CPUs, after we are in TdShim. But this log shows we are not in TdShim yet.

It seems an unnecessary design to add vCPU to DSDT, because the TDX architecture does not support CPU HotPlug at all.

All CPUs must be present at TD guest entrypoint.

I think the fix should be: removing vCPU entry in DSDT.

[2022-03-17 13:21] sboeuf commented on #159
@rbradford took care of it with https://github.com/cloud-hypervisor/cloud-hypervisor/pull/3860

[2022-03-17 13:26] rbradford commented on #159
Not at all. The DSDT space being offered by the firmware is simply too small to accommodate all the functionality offered. Removing the CPU and memory hotplug functionality will make it slightly smaller, but more importantly they should be denied on TDX anyway (that was my main motivation for the PR.)

AFAICT there is no reason that PCI device hotplug (of virtio devices) cannot be supported on TDX

[2022-03-17 13:29] jyao1 commented on #159
NOTE: I did not comment anything for PCI hotplug or Memory HotPlug. They can be supported.

My comment is about CPU hotplug - TDX does not support CPU hotplug.

[2022-03-17 13:32] rbradford commented on #159
https://lkml.org/lkml/2022/2/27/433 indicates CPU and memory hotplug are not supported.

Since as you confirm PCI device hotplug is supported the space available in the DSDT must be larger (since PCI device hotplug functionality this makes up most of the size of the DSDT)

[2022-03-19 13:08] #154 closed

[2022-03-21 07:55] haowqs opened #165 "Create a tool for generating fuzz seeds"
![image](https://user-images.githubusercontent.com/39472702/159222191-13397ba5-7fc8-4d59-b679-48e64e123263.png)

cfv.bin
fv_buffer
hob_buffer

[2022-03-21 10:57] rbradford commented on #159
I ran a test where I generated the largest potential valid ACPI table config using Cloud Hypervisor:

[code]

And the generated ACPI table total was
[code]

So I think if you make the space for the table 96KiB I think you should have enough space.

[2022-03-22 13:00] liuw1 opened #170 "[Bug] The 'integrity_check' of 'FfsFileHeader' should not be an hardcode value"
The 'integrity_check' of 'FfsFileHeader' should not be a hardcode value. Refer to Platform Initialization Specification, Vol. 3 Chapter 3.2.3, it should be a checksum value.

Eg.
Line 64 ```integrity_check: 0xaae4,``` in td-shim/src/fv.rs.

[2022-03-23 09:52] liuw1 opened #172 "[Bug] Normal IO write will trigger exception 'Protection fault'"
When using below code to write RTC register in td test payload, it will trigger  exception 'Protection fault'.
```unsafe { x86::io::outb(0x70, 0x32) };```

![image](https://user-images.githubusercontent.com/35357095/159671696-404f2bf1-69da-419b-ae95-724466bbe04c.png)

[2022-03-23 11:18] sboeuf commented on #159
@jyao1 @gaojiaqi7 Do you think you can update the HOB size accordingly?

[2022-03-23 11:36] jiangliu commented on #159
We are facing some issue related to runtime layout too, still struggling to solve it. The good news is that build time/runtime layout is just a recommendation, we could easily change it.

[2022-03-23 20:03] fidencio opened #173 "Consider doing periodic releases and storing the release artifacts as part of the GitHub repo."
For projects consuming td-shim, it'd be very nice if we could do releases on the staging branch and let other projects direct consume the binaries built from there.

This would help a ton with what Kata Containers will end up shipping as part of their artefacts, and also on how TDX tests will be run as part of the confidential containers effort.

For the Cloud Hypervisor integration, we'd need a b

[2022-03-24 02:24] jyao1 commented on #159
Yes. Agree. We need move the TD_HOB to runtime memory space, and enlarge it.

[2022-03-24 02:50] liuw1 opened #174 "Implement function to pass ACPI tables to TD payload"

[2022-03-24 09:29] sboeuf commented on #159
@jiangliu @jyao1 should we open a different issue to detail what needs to happen, or is this one enough?

[2022-03-25 14:34] jyao1 commented on #173
@jiangliu, @sameo Any idea on release tag on staging? I am OK on that proposal.

Our current priority is to move modules from staging to main trunk...

[2022-03-29 06:42] mxu9 commented on #81
td-shim is of PE format. Here section means the PE section?

[2022-03-30 01:48] jyao1 commented on #81
It is meta section, not PE section.

[2022-03-30 22:00] fidencio commented on #173
@jyao1, @jiangliu, @sameo,

What about starting with 0.0.1-alpha0, 0.0.1-alpha1, ..., 0.0.1-alphaN ... weekly releases on the staging branch, and once everything is on `main` the first 0.0.1 (or even 1.0.0?) release is cut?

At this point, in order to ease the tests of Kata Containers, using Cloud Hypervisor with td-shim, any release of td-shim built with the  `boot-kernel` feature would be very m

[2022-03-31 13:16] haowqs opened #196 "Move the fuzzing seeds to the data directory"
Put binary files together for easy management

[2022-04-06 10:10] haowqs opened #202 "Upgrade the rust build version"
The linked_list_allocator library in the dependency has a dependency on lock_api
[code]
At compile time linked_list_allocator did not compile because lock_api,
the owner of lock_api recommends upgrading the rust version.

https://github.com/phil-opp/linked-list-allocator/issues/56

https://github.com/Amanieu/parking_lot/issues/335

[2022-04-06 12:46] #170 closed

[2022-04-07 01:56] gaojiaqi7 opened #204 "Need to setup page table for memory above 4G for APs"
The wakeup vector of the AP may be higher than 4G, so we need to set an appropriate page table for the AP and set the memory of page table to be reserved

[2022-04-07 07:35] liuw1 opened #206 "[Bug] The 'lasa' value of TDEL table is incorrect"
The 'lasa' value of TDEL table  should be the base address of TD_EVENT_LOG. Currently the value is 0.

[2022-04-07 12:27] sameo commented on #173
I would not even bother with the `-alpha` suffixes. From `staging` I would go with `v0.0.N` releases every week and then move to `0.M.N` where `N>0` once we move to main. A `td-shim` `v0.0.1` or `v0.0.2` release is self-explanatory imho.

And `staging` is just a branch name, we can and should start doing releases from it, I agree.

[2022-04-08 04:48] gaojiaqi7 commented on #131
Fixed by https://github.com/confidential-containers/td-shim/commit/5d05b841028353a7b4d0bab605819367349b005d

[2022-04-08 04:48] #131 closed

[2022-04-08 04:48] gaojiaqi7 commented on #121
Fixed by https://github.com/confidential-containers/td-shim/commit/7481b39ae3ff7871bb155f2292d51c5ee2d10463

[2022-04-08 04:48] #121 closed

[2022-04-08 04:51] gaojiaqi7 commented on #159
TD HOB is moved to low memory and enlarged to 128K bytes, this issue has been fixed: https://github.com/confidential-containers/td-shim/commit/b7393d8969f92dc49de773a72f0dfe9dddb81299

[2022-04-08 04:51] #159 closed

[2022-04-08 04:55] gaojiaqi7 commented on #13
Rust toolchain version has been updated,  latest x86_64 can be used now: https://github.com/confidential-containers/td-shim/commit/c3061df2fef0fcc2b655c83b24b27bb44092b1fb

[2022-04-08 04:55] #13 closed

[2022-04-11 01:59] haowqs commented on #196
There's no reason to move, so don't move

[2022-04-11 01:59] #196 closed

[2022-04-11 06:22] #206 closed

[2022-04-12 07:20] haowqs commented on #202
Done

[2022-04-13 08:07] sboeuf commented on #159
@gaojiaqi7 this is great news :)
Have you got a chance to try the latest tdshim version with Cloud Hypervisor?

[2022-04-13 10:41] fidencio commented on #173
@jyao1, @jiangliu, polite ping.

Can we move towards this?  What's needed to move toward this direction?

[2022-04-13 11:04] fidencio commented on #173
I just synced with @jyao1 on this, internally, and we agreed on the following:
* We have a release tagged every now and then;
* This release will be smoke tested from my side, to ensure the binary works well with cloud-hypervisor and cloud-hypervisor + kata-containers;
* ideally we'd have the release process automated via GitHub actions (which I will provide);

We'll work on this list from the las

[2022-04-13 11:08] jyao1 commented on #173
Thanks @fidencio .

[2022-04-14 09:21] haowqs opened #228 "Update edition 2018 to 2021"

[2022-04-17 14:18] gaojiaqi7 opened #235 "Consider making payload binary optional for linker"
It is not necessary to build a payload into td-shim binary when using kernel direct boot

[2022-04-17 14:22] gaojiaqi7 commented on #235
https://github.com/confidential-containers/td-shim/pull/236

[2022-04-21 04:35] gaojiaqi7 commented on #75
Fixed by: https://github.com/confidential-containers/td-shim/commit/1efd04e73b82bd24f7eba59d0434e34456c3c4de

[2022-04-21 04:35] #75 closed

[2022-04-22 01:47] liuw1 opened #246 "[Bug] Launch td-payload will trigger page fault"
Page fault occurs in "unsafe { stack_guard_test() };", line 127 of td-payload/src/main.rs. See logs as below:

Report MAC:
        Report Type:
        type: 81        subtype: 0      version: 0
        CPU SVN:
        [2, 2, 0, 0, 0, ff, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        TEE TCB Info Hash:
        [63, 84, 2e, b3, 1a, 6a, 82, 5c, af, f4, 5a, cf, a, 6c, 9f, be, 42, d5, bb, ca, e1, 1c, f9, 53,

[2022-04-22 01:51] liuw1 commented on #174
#244

[2022-04-22 01:51] #174 closed

[2022-04-22 02:09] #246 closed

[2022-04-22 10:44] gaojiaqi7 commented on #235
Solved by: https://github.com/confidential-containers/td-shim/commit/bcbb3142b6b5597046f367554fe3e1e1f80ef1d4

[2022-04-22 10:44] #235 closed

[2022-04-22 10:45] gaojiaqi7 commented on #94
Fixed by: https://github.com/confidential-containers/td-shim/commit/88d1bf22024d3db5e848bb8b21d4bd10d61e3a75

[2022-04-22 10:45] #94 closed

[2022-04-26 01:16] liuw1 commented on #172
Jiaqi will take this issue

[2022-04-28 02:13] haowqs commented on #103
The rust version has been upgraded, so 0.11.0 can be uesd.

[2022-04-28 02:13] #103 closed

[2022-04-28 08:06] liuw1 opened #250 "[Bug] A security vulnerability was detected by cargo deny tool"
Execute command "cargo deny check Advisories", a security vulnerability was detected.

[code]

[2022-04-30 13:37] liuw1 commented on #172
#253 only solved io write issue, but io read still have issue as below:

[code]

[2022-04-30 14:13] gaojiaqi7 commented on #172
Ok it seems there's still some mistakes inside VE handler. I've tried to trigger INT n then VE it looks good, but if I trigger VE first then another exception will cause the double fault...

[2022-05-01 02:49] jyao1 opened #255 "Need resolve fossa license failure"
https://app.fossa.com/projects/git%2Bgithub.com%2Fconfidential-containers%2Ftd-shim?ref=badge_shield

[2022-05-02 02:39] liuw1 opened #256 "[Bug] td-shim should support reproducible build"
There are some differences between 2 times build with same code base. Currently td-shim does not support reproducible build.

![image](https://user-images.githubusercontent.com/35357095/166177999-30975526-572b-44bd-92eb-33c4b102335b.png)

[2022-05-02 02:52] jiangliu commented on #256
It's really import to get this fixed, reproducible build is fatal for CC:)
Thanks for working this!

[2022-05-03 13:59] gaojiaqi7 commented on #172
@liuw1 Can you try with https://github.com/confidential-containers/td-shim/pull/257, it should have fixed #DF

[2022-05-04 07:28] liuw1 commented on #172
@gaojiaqi7  The test case of VE pass with #257

[2022-05-05 05:32] liuw1 opened #259 "Set environment variables to support ELF format payload build in README.md"
Currently, the environment variables setting in [README.md](https://github.com/confidential-containers/td-shim#readme) only support for PE format payload build.

[2022-05-05 07:02] liuw1 opened #261 "[Bug] Total memory size calculated with memory map table is not equal with expected size"
Run test case memorymap001 will find that the total memory size calculated with memory map table is not equal with expected size.

Log:
[code]

[2022-05-09 07:18] haowqs opened #263 "[Bug] Relocs iteration may infinite loop"
// td-loader/src/elf64.rs

lines 697-709

[code]
When self.relaent is 0, the current_bytes value is unchanged, and there is no way to jump out of the loop.

[2022-05-10 01:34] #259 closed

[2022-05-12 02:15] jyao1 commented on #256
Some investigation result from @longlongyang.

Elements break reproducible build (x86_64-unknown-uefi + target x86_64-unknown-none)
1.	Debug related sections (PE + ELF)
2.	Code base path like \home\long\rust-tpa\xxx\xxx.rs (PE + ELF)
3.	CARGO_HOME like \home\long\.cargo\xxx\xxx.rs (PE + ELF)
4.	RUSTUP_HOME like \home\long\.rustup\xxx\xxx.rs (PE + ELF)
5.	TimeDateStamp field in COFF file header (PE

[2022-05-12 02:18] longlongyang commented on #256
I would like to take this issue.

[2022-05-12 14:16] dcmiddle commented on #255
FYI per @magowan https://github.com/confidential-containers/community/wiki/CNCF-Fossa

[2022-05-12 14:18] peterzcst commented on #255
A summary about the FOSSA issues below in case above link is complex:
1.	afl (latest) used by:
•	bootloader (0.10.12)
bootloader -> noto-sans-mono-bitmap -> … -> cpp_demangle -> afl
bootloader- > noto-sans-mono-bitmap -> … -> cpp_demangle -> afl
bootloader -> noto-sans-mono-bitmap -> … -> cpp_demangle -> afl
•	clap (3.1.14)
clap -> criterion -> … -> cpp_demangle -> afl
clap -> criterion-> … -> cpp

[2022-05-12 15:41] jyao1 commented on #255
As summary, we need remove bootloader, clap, chrono, x86, der, zerocopy, bitflags.

[2022-05-13 07:29] gaojiaqi7 commented on #255
Look at the deep end dependencies marked by fossa, none of their licenses is GPL, they are marked because 'GPL' words were scaned out in some of their files or submodules.
Should we simply conclude that there are problems with their license and remove the crates relying on them?

[2022-05-13 07:41] jyao1 commented on #255
Below:
* [afl](https://crates.io/crates/afl) - Apache-2.0
* [freetype-sys](https://crates.io/crates/freetype-sys) - MIT
* [gmp-mpfr-sys](https://crates.io/crates/gmp-mpfr-sys) - LGPL-3.0+
* [lz4-sys](https://crates.io/crates/lz4-sys) - MIT
* [lzma-sys](https://crates.io/crates/lzma-sys) - MIT OR Apache-2.0
* [rug](https://crates.io/crates/rug) - LGPL-3.0+
* [sdl2-sys](https://crates.io/crates/sdl2

[2022-05-13 08:54] gaojiaqi7 commented on #255
But these crates do not appear in the Cargo.lock file of td-shim, so it seems that td-shim does not use code of these crates directly

[2022-05-15 14:31] #263 closed

[2022-05-16 02:16] longlongyang opened #269 "Need to upgrade the toolchain to 1.59 release to accept "strip" option in release profile"
Background: https://github.com/confidential-containers/td-shim/issues/256#issuecomment-1124460655
The current stable toolchain version 1.58 release doesn't support the "strip" option in release profile, which breaks the reproducible build.
We need to upgrade the version of toolchain to 1.59 release, since the profile strip option has been stabilized in the 1.59 release. More detail please find: ht

[2022-05-16 02:22] jyao1 commented on #269
@liuw1, can you take a look to upgrade the version in CI ?

It causes the CI failure - https://github.com/confidential-containers/td-shim/pull/268

[2022-05-16 02:22] liuw1 commented on #269
Sure

[2022-05-16 02:24] jyao1 commented on #137
done

[2022-05-16 02:24] #137 closed

[2022-05-16 02:24] jyao1 commented on #81
done

[2022-05-16 02:24] #81 closed

[2022-05-16 02:25] jyao1 commented on #123
done

[2022-05-16 02:25] #123 closed

[2022-05-16 02:25] jyao1 commented on #122
done

[2022-05-16 02:25] #122 closed

[2022-05-16 02:25] jyao1 commented on #172
done

[2022-05-16 02:26] jyao1 commented on #172
user mistake, @257 is not merged yet.

[2022-05-16 02:27] jyao1 commented on #250
we should remove chrono

[2022-05-16 03:15] liuw1 commented on #269
I have checked all CI related test tasks except TDX integration test task with #268, all tasks passed with the latest stable toolchain.

[2022-05-16 03:19] longlongyang commented on #269
Thanks, I am working on to solve that TDX integration test task failure

[2022-05-16 16:25] #269 closed

[2022-05-17 02:15] liuw1 opened #271 "Move the function "check_hob_integrity" from bin to an generic package"
Since the function "check_hob_integrity" will receive HOB data from VMM, the data is untrusted. So we need to get the interface of the function and verify the code security with fuzzing.

[2022-05-18 09:52] longlongyang opened #272 "[Bug] secure_boot_verify_payload fails with InvalidSignature when using ECDSA_NIST_P384_SHA384 crypto suite"
secure_boot_verify_payload fails with InvalidSignature when using ECDSA_NIST_P384_SHA384 crypto suite with strip = "symbols" set in cargo.toml.
Location:
https://github.com/confidential-containers/td-shim/blob/552e40dd0b5b3dadc3bd9ae30c7b223d26cfe7f6/td-shim/src/bin/td-shim/verifier.rs#L162-L164
How to reproduce the bug:

- If no panic is observed using the code change https://github.com/confident

[2022-05-18 20:48] fitzthum commented on #255
There is a little bit of information about licenses for CNCF [here](https://github.com/cncf/foundation/blob/main/allowed-third-party-license-policy.md). Note that MIT licenses are pre-approved by the CNCF (as long as you don't modify the source and the project wasn't created yesterday). Apache-2.0 projects are allowed by default. I'm not exactly sure why either of those licenses are flagged by FOS

[2022-05-19 07:34] gaojiaqi7 commented on #172
this issue has been fixed by: https://github.com/confidential-containers/td-shim/commit/e84430c85154feb13301a49f9a23d3341ff314c5

[2022-05-19 07:34] #172 closed

[2022-05-19 09:47] jyao1 opened #274 "Need change TDEL to CCEL to align latest spec."

[2022-05-20 02:30] jyao1 commented on #256
After more investigation, we notice that Use strip = "symbols" option to [profile.release] is not stable.

It is just added in latest 1.59 version - https://github.com/confidential-containers/td-shim/issues/269.

And it causes weird issue - https://github.com/confidential-containers/td-shim/issues/272

As such, I think we need use post-build tool to resolve 1 and 2 as well.

After the tool is stab

[2022-05-20 05:55] jyao1 opened #275 "consider support lazy-accept memory for boot performance"
The unaccepted memory type definition:

1) UEFI: https://github.com/chris-oo/mu_basecore/blob/personal/cho/unaccepted-memory-type/Unaccepted%20Memory%20UEFI%20ECR.md

2) PI: https://github.com/chris-oo/mu_basecore/blob/personal/cho/unaccepted-memory-type/Unaccepted%20Memory%20PI%20ECR.md

3) ACPI: https://github.com/jyao1/mu_basecore/blob/unaccepted-memory-type/Unaccepted%20Memory%20ACPI%20ECR.md

[2022-05-22 15:53] #250 closed

[2022-05-23 13:32] liuw1 opened #278 "Move function "secure_boot_verify_payload" from bin to a generic package"
Since the function "secure_boot_verify_payload" will read CFV and pyaload, the data is untrusted. So we need to get the interface of the function and verify the code security with fuzzing.

[2022-05-23 16:06] longlongyang opened #279 "[Bug] Unpredictable behavior may occur if log level features are not specified when enabling strip = "symbol" or "debuginfo" option"
The unpredictable behavior includes secure boot test failure, ACPI table not found, E820 table not found, etc. After specifying log level features in dependency "log" crate, The unpredictable behaviors are not observed any more.
The possible solution:
https://github.com/confidential-containers/td-shim/blob/8c2b0ab686fd02db5af954c6a0af02eec1dea580/td-logger/Cargo.toml#L12

[2022-05-24 01:36] longlongyang commented on #272
may be caused by https://github.com/confidential-containers/td-shim/issues/279

[2022-05-25 02:15] liuw1 opened #281 "Cargo test error in td-shim/src/e820.rs"
[code]

[2022-05-25 02:16] liuw1 commented on #281
I will fix it and check why it doesn't include in CI.

[2022-05-25 06:25] liuw1 commented on #281
A new unit test case issue found with command "cargo test --features=boot-kernel" in package td-layout.

[code]

[2022-05-25 14:10] liuw1 opened #284 "design.md need to be refreshed"
Lots of information in doc/design.md are too old, it should be consistent with current project.

[2022-05-27 14:20] #256 closed

[2022-05-28 13:21] #274 closed

[2022-05-29 02:20] #281 closed

[2022-05-29 13:26] #271 closed

[2022-05-29 13:36] longlongyang opened #288 "[bug] reproducible-tool: binary write back is absent when strip_path is not specified."
https://github.com/confidential-containers/td-shim/blob/81e3738ec7016450cb8521b688d6512936ccef0e/td-reproducible-tool/src/main.rs#L138-L144

[2022-05-30 07:16] jyao1 opened #289 "need move td-reproducible-tool to td-shim-tool dir"

[2022-05-30 07:33] jyao1 opened #290 "add tee_info_hash calculation tool"

[2022-05-30 07:36] jyao1 opened #291 "enhance cc_event_log test"
Current test https://github.com/confidential-containers/td-shim/blob/main/tests/test-td-payload/src/testtrustedboot.rs#L82, only for RTMR0, we need a generic test to cover all RTMR[0~3].

[2022-05-30 08:49] liuw1 commented on #289
I will take this task

[2022-05-30 08:49] liuw1 commented on #290
I will take this task

[2022-05-30 08:49] liuw1 commented on #291
I will take this task

[2022-05-31 05:38] jyao1 opened #294 "use sha2 and/or openssl/mbedtls to replace ring"
Current td-shim need use SHA384 to calculate the MR extend.

Since ring upstream is blocked, we should use sha2 to replace ring.

Rust crypto provides https://github.com/RustCrypto/hashes. SHA384 is available in https://crates.io/crates/sha2

[2022-05-31 05:42] gaojiaqi7 commented on #294
We still use ring to verify the payload signature, is there a substitute for this?

[2022-05-31 05:45] jyao1 commented on #294
That is secure boot specific, right? Let's first put ring to secure-boot feature.

[2022-05-31 05:47] #284 closed

[2022-05-31 15:44] liuw1 opened #295 "[Bug] Use efi_end_of_hob_list in HandoffInfoTable to calculate the hob length is unjustified"
Since the hob is external input, so we cannot trust the value of the efi_end_of_hob_list in HandoffInfoTable.

[2022-06-01 02:17] liuw1 opened #298 "[Bug] Td-shim will panic if hob data length less than HandoffInfoTable size"
td-uefi-pi/src/hob.rs line 50

[code]

[2022-06-01 02:17] liuw1 commented on #298
I will fix it

[2022-06-01 02:34] jyao1 opened #300 "Need follow the td-shim trust boot guideline"
Refer to https://github.com/confidential-containers/td-shim/blob/main/doc/tdshim_spec.md#guideline

[2022-06-02 02:21] jyao1 opened #302 "need clear more debug info in PE image"
1) The `TimeDateStamp` in debug directory entry is not cleared.

REF: https://docs.microsoft.com/en-us/windows/win32/debug/pe-format

2) The `Guid` in CodeView Debug Directory Entry is not cleared

REF: https://github.com/dotnet/runtime/blob/main/docs/design/specs/PE-COFF.md

Overall, please refer to `ZeroDebugData()` in https://github.com/tianocore/edk2/blob/master/BaseTools/Source/C/GenFw/GenFw.

[2022-06-02 02:24] longlongyang commented on #302
Awesome findings and reference! I'll take it.

[2022-06-05 12:57] #289 closed

[2022-06-05 13:19] #288 closed

[2022-06-06 05:20] #295 closed

[2022-06-06 05:20] #298 closed

[2022-06-09 10:25] jyao1 commented on #275
yes, please.

[2022-06-11 00:49] #302 closed

[2022-06-12 03:31] jyao1 commented on #42
staging branch is merged to main. Close this one.

[2022-06-12 03:31] #42 closed

[2022-06-12 07:08] jyao1 opened #306 "consider to enable IBT support"
The rightly version can support [cf-protection](https://doc.rust-lang.org/nightly/unstable-book/compiler-flags/cf-protection.html#cf-protection).

`cf-protection=branch` maybe used to enable IBT.

[2022-06-20 01:25] gaojiaqi7 commented on #69
Documentation has been added to 'tdx-tdcall' crate

[2022-06-20 01:25] #69 closed

[2022-06-20 01:26] gaojiaqi7 commented on #278
Close with https://github.com/confidential-containers/td-shim/commit/1a78d73c66bb409fd9a663174f5bab4cbf4a8d2e

[2022-06-20 01:26] #278 closed

[2022-06-20 01:27] gaojiaqi7 commented on #300
Close with https://github.com/confidential-containers/td-shim/commit/4f8cffaaf6459954f1f5556fa14a3886de155a56

[2022-06-20 01:27] #300 closed

[2022-06-20 02:02] jyao1 opened #315 "add lazy accept support in td-shim spec"
lazy accept is a way for optimization. (optional feature)
It means the td-shim does not need accept all memory, before jump to payload.

The payload should get unaccepted page and accept them before use them.

[2022-06-20 02:21] jyao1 opened #316 "clarify order of MRTD calculation"
The expected flow is:
 * Search TD Metadata from metadata location and get TDVF_DESCRIPTOR.
 * In TDVF_DESCRIPTOR, get TDVF_SECTION in the order of image file offset, from the lowest GPA to the highest GPA. For each TDVF_SECTION:
   * In TDVF_SECTION, if PAGE.AUG attribute is clear (PAGE.ADD is used), extend
   MRTD with the THD.MEM.PAGE.ADD as described above, from the lowest GPA to the
   highes

[2022-06-21 00:20] liuw1 opened #317 "[BUG] Td-shim will panic if header.length less than readlen"
Line 278 in td-shim/src/secure_boot.rs
let trusted_hash = &file[readlen..header.length as usize];

[code]

[2022-06-21 13:11] #315 closed

[2022-06-22 06:24] gaojiaqi7 opened #321 "AP may stuck when the OS wants to wake it up"
APs cannot be waked up using branch: https://github.com/intel/tdx/tree/guest-unaccepted-memory

According to ACPI specification: The application processor need clear the command to Noop(0) as the acknowledgement that the command is received.

[2022-06-23 05:15] gaojiaqi7 commented on #261
Solved by https://github.com/confidential-containers/td-shim/commit/60e7664794c0e1bf3f42a82eac052ca1bac84967

[2022-06-23 05:15] #261 closed

[2022-06-23 05:16] gaojiaqi7 commented on #275
Can be closed by https://github.com/confidential-containers/td-shim/commit/ab94a09cfeb9d3ce533e2563bf1514ede16abc70

[2022-06-23 05:16] #275 closed

[2022-06-24 06:52] a74731248 opened #325 "[BUG] Can not get payload_info correctly from `read_from_hob`"
I find that `read_from_hob` can not parser payload_info correctly which was passed from vmm. And I wrote a test function in`td_hob.rs`：
[code]

And tset it in such 2 situations：
1. `PayloadInfo` was design as origin, and test goes fail.
[code]

2.  `PayloadInfo` was design as follow, and test success.
[code]

And I think maybe the problem is [here](https://github.com/confidential-containers/td-shi

[2022-06-24 14:12] gaojiaqi7 commented on #325
Yes you are right :) , cloud-hypervisor writes the structure with padding but 'pread' is reading from slice without padding, I'll fix this

[2022-06-25 00:39] #317 closed

[2022-06-25 00:39] #316 closed

[2022-06-25 06:40] gaojiaqi7 commented on #321
Close with https://github.com/confidential-containers/td-shim/commit/4e4f16b064331ad0c806fefc85d6dfac50166198

[2022-06-25 06:40] #321 closed

[2022-06-26 02:21] a74731248 commented on #325
thanks!

[2022-06-28 07:09] liuw1 opened #326 "Add build test for fuzzer in CI"

[2022-07-10 02:15] #326 closed

[2022-07-10 02:15] #291 closed

[2022-07-12 15:00] gaojiaqi7 opened #336 "Consider to update VMM/TD-Shim memory interface to align with TDVF"
In the latest version TDVF spec, the private memory is reported as EFI_REOURCE_SYSTEM_MEMORY, and unaccepted memory is reported as EFI_REOURCE_SYSTEM_UNACCEPTED, which is not align with the description in [TD Shim spec](
https://github.com/confidential-containers/td-shim/blob/main/doc/tdshim_spec.md#memory-information).

Considering the compatibility with upstream version of QEMU/TDVF, we may need

[2022-07-18 01:24] gaojiaqi7 opened #338 "Need to do the integrity check for the private/public keys in signing/enroll tools"

[2022-07-18 01:26] gaojiaqi7 opened #339 "Need to extend the kernel/kernel parameter into RTMR"
To measure the kernel and its parameters, we need to know their size in memory

[2022-07-19 01:37] jyao1 commented on #336
OK.

[2022-07-19 07:40] liuw1 opened #340 "Td-shim will panic in line 52 of td-uefi-pi/src/hob.rs"
If phit.efi_end_of_hob_list less than hob.as_ptr(), Td-shim will panic.

[2022-07-21 12:50] dimakuv opened #345 "E820 table reported to TD payload has wrong `HobLength`?"
I am writing an ELF TD payload for TD-Shim. I am currently investigating all HOBs provided to my payload.

This is my dump of the E820 HOB and its table:
[code]

Note that `HobLength = 248`. For reference, let me show my C code with struct definitions:
[code]

If the E820 table has 11 entries, then the total `HobLength` should be `24 + 11*20 = 244`.

If the E820 table has 12 entries, then the tota

[2022-07-21 14:05] jyao1 commented on #345
Right. Refer to PI spec (https://uefi.org/sites/default/files/resources/PI_Spec_1_7_A_final_May1.pdf), 4.5.2 HOB Construction Rules, 4. All HOBs must be multiples of 8 bytes in length. (page 635)

I recommend we add some comment in the code, also mention that explicitly in the td-shim spec.

[2022-07-22 09:04] gaojiaqi7 opened #346 "need update ring `uefi_support` branch"

[2022-07-27 00:48] #340 closed

[2022-07-28 04:25] gaojiaqi7 opened #348 "Disable log message for release build"

[2022-07-28 13:12] dimakuv opened #349 "Trying to understand E820 table vs Resource HOBs"
I ran my simple TD payload and collected the info from FV and Resource HOBs, as well as the E820 table. I also analyzed the debug info printed by the TD-Shim itself during startup.

I got these memory ranges:
[code]

I have several questions:
1. Why the Resource HOBs received by my TD payload (through the RDI register) do *not* contain MMIO ranges?
2. Why the Resource HOBs received by my TD payloa

[2022-07-28 13:26] dimakuv commented on #349
I guess I found the answer to one of my questions.

This is because, according to https://uefi.org/specs/ACPI/6.4/15_System_Address_Map_Interfaces/uefi-assumptions-and-limitations.html: `The firmware does not return a range description for the memory mapping of PCI devices, ISA Option ROMs, and ISA Plug and Play cards because the OS has mechanisms available to detect them.`

[2022-07-28 15:05] dimakuv opened #350 "Trying to understand ACPI Table Extension HOB"
I ran my simple TD payload and collected the info from ACPI Table Extension HOBs.

TD-Shim reports only two HOBs for me:
1. `APIC` (MADT) table, for local and I/O APICs
2. `CCEL` (TDX-defined) table, for trusted boot

Why I don't see any other ACPI tables? There are no RSDT and XSDT (but these two are probably not needed anyway, since all ACPI tables can be found anyway by iterating over ACPI HOBs

[2022-07-28 15:06] gaojiaqi7 commented on #349
Thanks @dimakuv for you feedback. According to the TD Shim/Payload interface defined here: https://github.com/confidential-containers/td-shim/blob/main/doc/tdshim_spec.md#part-iii---td-shim--guest-payload-interface, a payload should rely on the E820 table to get the memory resource information rather than the resource HOBs.

The resource HOBs are still there inside the payload HOB list produced by

[2022-07-28 15:15] jyao1 commented on #350
td-shim can only produce what it knows.

FADT is to report fixed hardware. Only VMM knows the emulated resource.
SPRT is for interrupt routing. Only VMM knows the emulated hardware.

SPRT and FADT are unknown by td-shim. They should be input by the VMM, passed from VMM to td-shim, then passed from td-shim to guest kernel.

[2022-07-28 15:29] jyao1 commented on #350
@dimakuv, would you mind to tell us who you run the system to get the result?

via KVM? via cloud-hypervisor? or something else?

[2022-07-28 15:31] jyao1 commented on #349
@dimakuv, would you mind to tell us how you run the system to get the result?

via KVM? via cloud-hypervisor? or something else?

Also which version ? We have seen some inconsistent result before.

[2022-07-28 16:08] gaojiaqi7 commented on #349
This piece of memory is reserved by QEMU for an EPT identity map and a TSS in order to use vm86 mode to emulate 16-bit code directly (which is used in TDX case) and reported as `reserved` type which is same as the private memory in the old-version QEMU, once we solved issue https://github.com/confidential-containers/td-shim/issues/336, TD-Shim can distinguish this kind of memory from private memor

[2022-07-29 08:36] dimakuv commented on #350
@jyao1 I use QEMU/KVM. Here is the info you requested:

[code]

TD shim version:
[code]

The way I run it. First I link my TD payload with the TD-Shim binary:
[code]

Then I run the resulting blob like this:
[code]

Interesting. This is not how I expected this to work (but I admit, I haven't looked into the VMM -> TD Shim interface in detail).

I thought that QEMU/KVM provides the info to TD Shim

[2022-07-29 08:50] dimakuv commented on #349
@jyao1 For my environment, please see my other answer: https://github.com/confidential-containers/td-shim/issues/350#issuecomment-1199022290

@gaojiaqi7 Thank you very much for the detailed answers! I should have looked at the https://github.com/confidential-containers/td-shim/blob/main/devtools/td-layout-config/config.json file before asking my question. It has a lot of helpful information.

[2022-07-29 09:32] jyao1 commented on #350
I would like to clarify something. SPRT is just one way to pass the interrupt info. It is optional. It is just an alternative for DSDT. It is not an requirement for td-shim. A VMM can also pass DSDT to td-shim, to let it pass to guest kernel.

The usage of td-shim is to support simple/lightweight TD environment. Most likely, a confidential container, or a service TD.
If a TD has complex devices an

[2022-07-29 09:44] dimakuv commented on #350
@jyao1 Yes, I understand this.

My initial assumption was that TD Shim realizes that it loads a TD Payload (via `PayloadImageTypeExecutablePayload`) and constructs the SPRT (or prints a warning/fails if SPRT was not provided by the VMM).

But I understand your point now. My assumption was wrong.

So how can I instruct QEMU/KVM to construct an SPRT HOB?

By the way, if Cloud Hypervisor has better s

[2022-07-29 11:09] dimakuv commented on #349
@gaojiaqi7 @jyao1 Sorry but I have two more questions.

1. Do I understand correctly that this range: `AddressRangeReserved : 0x000800000 - 0x000820000 (8MB - 8.125MB)     // Page tables` can be actually used by the OS kernel as soon as it creates its own page tables and rewires `CR3` to point to the new page tables?

2. How can the layout be changed? I observe that it's not enough to modify `devt

[2022-08-01 01:33] jyao1 commented on #346
need update to latest ring.

[2022-08-01 01:41] gaojiaqi7 commented on #204
close with 8893c747563ad422425b867e5f364d9a78705a45

[2022-08-01 01:41] #204 closed

[2022-08-01 01:41] gaojiaqi7 commented on #325
close with a5beed7515ccf600491a3bc1b7ddb46ad7d0eb59

[2022-08-01 01:41] #325 closed

[2022-08-02 01:36] gaojiaqi7 commented on #346
Branch https://github.com/jyao1/ring/tree/uefi_support is based on stable release version 0.16.20, so there's no need to update now

[2022-08-02 01:36] #346 closed

[2022-08-05 16:05] gaojiaqi7 opened #356 "Build fails due to the crate `libc` update"

[2022-08-05 16:07] gaojiaqi7 commented on #356
Can be solved by
 - updating rust version: https://github.com/confidential-containers/td-shim/pull/354 or
 - locking `libc` version in td-shim: https://github.com/confidential-containers/td-shim/pull/355

[2022-08-06 01:31] jyao1 commented on #356
both CI failed?

[2022-08-06 07:48] gaojiaqi7 commented on #356
It seems installation of cargo-xbuild will fail because it relies on libc too, if we only lock the `libc` version

[2022-08-08 13:44] fidencio commented on #356
@jyao1, I've noticed the same failure when trying to build 5f62a0e367b1845a54e534d103ed4a697a599ac3 as part of the Confidential Containers effort.

[2022-08-09 07:18] liuw1 opened #359 "A warning reports by Prusti of td-uefi-pi"
warning: [Prusti: warning] the loop guard was not automatically added as a `body_invariant!(...)`, due to the following pure functions with preconditions: [lookup_pure, lookup_pure, lookup_pure, lookup_pure]
  --> td-uefi-pi/src/hob.rs:77:12
   |
77 |         if offset + size_of::<Header>() > hob_list_len {
   |            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

[2022-08-09 08:14] liuw1 opened #361 "Scan code with Prusti"
https://github.com/viperproject/prusti-dev/tree/v-2022-08-08-2215

[2022-08-09 08:15] liuw1 commented on #361
I will take it and add steps in readme

[2022-08-09 08:46] liuw1 opened #362 "Assertion might fail with "attempt to add with overflow" in line 528 of elf64.rs"
error: [Prusti: verification error] assertion might fail with "attempt to add with overflow"
   --> td-loader/src/elf64.rs:528:32
    |
528 |         self.sh_addr as usize..(self.sh_addr + self.sh_size) as usize
    |                                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

[2022-08-09 08:55] #356 closed

[2022-08-09 08:59] liuw1 opened #363 "The range end value may be out of bounds when slicing in line 235 of tdreport.rs"
[Prusti: verification error] the range end value may be out of bounds when slicing
   --> tdx-tdcall/src/tdreport.rs:235:31
    |
235 |             .copy_from_slice(&self.buf[self.offset..self.end]);
    |                               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

[2022-08-09 09:04] liuw1 opened #364 "Value might not fit into the target type in line 106 127 and 148 of tdx.rs"
error: [Prusti: verification error] value might not fit into the target type.
   --> tdx-tdcall/src/tdx.rs:106:5
    |
106 |     args.r11 as u8
    |     ^^^^^^^^^^^^^^

error: [Prusti: verification error] value might not fit into the target type.
   --> tdx-tdcall/src/tdx.rs:127:5
    |
127 |     args.r11 as u16
error: [Prusti: verification error] value might not fit into the target type.
   -->

[2022-08-09 09:07] liuw1 opened #365 "The array or slice index may be out of bounds in line 562 and 599 of tdx.rs"
error: [Prusti: verification error] the array or slice index may be out of bounds
   --> tdx-tdcall/src/tdx.rs:562:14
    |
562 |         r10: target_td_uuid[0],
    |              ^^^^^^^^^^^^^^^^^

error: [Prusti: verification error] the array or slice index may be out of bounds
   --> tdx-tdcall/src/tdx.rs:599:14
    |
599 |         r10: target_td_uuid[0],
    |              ^^^^^^^^^^^^^^^^^

[2022-08-10 07:33] liuw1 commented on #363
After investigation, it should be a false positive. The range end value is always in range.

[2022-08-10 09:05] liuw1 commented on #364
After investigation, it is not an issue. We can close it.

[2022-08-10 12:40] liuw1 opened #370 "Assertion might fail with "attempt to add with overflow" in line 94 of fv.rs"
error: [Prusti: verification error] assertion might fail with "attempt to add with overflow"
  --> td-uefi-pi/src/pi/fv.rs:94:25
   |
94 |         self.checksum = u16::MAX - sum16(self.as_bytes()) + 1;
   |

[2022-08-11 01:39] gaojiaqi7 opened #373 "Enable CET shadow stack in the td-payload"
CET should be set by payload rather than td-shim

[2022-08-11 02:52] liuw1 opened #375 "Assertion might fail with "attempt to add with overflow" in line 262 of fv.rs"
running 1 test
thread 'pi::fv::tests::test_update_checksum' panicked at 'attempt to add with overflow', td-uefi-pi/src/pi/fv.rs:262:39
stack backtrace:

[2022-08-15 01:34] #362 closed

[2022-08-15 01:35] #365 closed

[2022-08-15 01:37] #370 closed

[2022-08-15 01:37] #375 closed

[2022-08-15 01:38] #363 closed

[2022-08-15 01:40] #359 closed

[2022-08-15 01:45] #364 closed

[2022-08-16 02:32] liuw1 opened #376 "[MIRAI] Potential arithmetic overflow in td-shim/memory.rs"
warning: possible attempt to add with overflow
   --> td-shim/src/bin/td-shim/memory.rs:284:21
    |
284 |                     new.physical_start += to_be_accepted;
    |                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

warning: possible attempt to subtract with overflow
   --> td-shim/src/bin/td-shim/memory.rs:285:21
    |
285 |                     new.resource_length -= to_be_accepted;

[2022-08-16 02:32] liuw1 opened #377 "[MIRAI] Potential arithmetic overflow in td-shim/td/tdx_mailbox.rs"
warning: possible attempt to add with overflow
   --> td-shim/src/bin/td-shim/td/tdx_mailbox.rs:265:29
    |
265 |             let stack_top = stacks.as_ptr() as u64 + i as u64 * AP_TEMP_STACK_SIZE as u64;
    |                             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

warning: possible attempt to add with overflow
   --> td-shim/src/bin/td-shim/td/tdx_mailbox.rs:2

[2022-08-16 03:15] liuw1 commented on #377
Please assign to jiaqi

[2022-08-16 03:17] liuw1 commented on #376
Please assign to jiaqi

[2022-08-16 03:18] gaojiaqi7 commented on #336
Completed by https://github.com/confidential-containers/td-shim/commit/154c7d7a5bcadee22ac95604cbcdea9cae4ec6d2

[2022-08-16 03:18] #336 closed

[2022-08-17 01:32] #361 closed

[2022-08-18 12:20] liuw1 opened #380 "[MIRAI] Possible attempt to add with overflow in hob.rs"
warning: Inline assembly code cannot be analyzed by MIRAI.
   --> td-uefi-pi/src/hob.rs:678:14
    |
678 |     unsafe { core::arch::asm!("lfence") }
    |              ^^^^^^^^^^^^^^^^^^^^^^^^^^

warning: possible attempt to add with overflow
   --> td-uefi-pi/src/pi/hob.rs:155:13
    |
155 |             self.alloc_descriptor.memory_base_address + self.alloc_descriptor.memory_length - 1,
    |

[2022-08-18 12:24] liuw1 opened #381 "[MIRAI] Possible attempt to add with overflow in tdreport.rs"
warning: possible attempt to add with overflow
   --> tdx-tdcall/src/tdreport.rs:259:14
    |
259 |         rdx: addr + TD_REPORT_SIZE as u64,
    |              ^^^^^^^^^^^^^^^^^^^^^^^^^^

[2022-08-18 12:25] liuw1 opened #382 "[MIRAI] Possible attempt to subtract with overflow in tdx.rs"
warning: possible attempt to subtract with overflow
   --> tdx-tdcall/src/tdx.rs:547:18
    |
547 |     Some(1u64 << (gpaw - 1))
    |                  ^^^^^

[2022-08-18 12:39] liuw1 opened #383 "[MIRAI] Possible attempt to subtract with overflow in page_table.rs"
warning: possible attempt to subtract with overflow
   --> td-paging/src/page_table.rs:111:9
    |
111 |         sz -= mapped_size;
    |         ^^^^^^^^^^^^^^^^^

[2022-08-18 12:59] liuw1 opened #384 "[MIRAI] Unnecessary parentheses around match arm expression"
warning: unnecessary parentheses around match arm expression
  --> td-shim/td-shim/build.rs:16:21
   |
16 |         "x86_64" => ("win64"),
   |                     ^       ^
   |
   = note: `#[warn(unused_parens)]` on by default
help: remove these parentheses
   |
16 -         "x86_64" => ("win64"),
16 +         "x86_64" => "win64",
   |

warning: unnecessary parentheses around match arm expressio

[2022-08-22 15:12] dimakuv opened #385 "Any example/code to mark TD pages as shared?"
Is there any API/code in TD-shim that allows to mark TD pages (or whole memory regions) as shared (backed by Shared EPT)?

If there is such code, is there any example of its usage?

I'm trying to understand how one can convert TD-private pages to shared-with-host pages.

[2022-08-23 01:02] liuw1 commented on #380
I will take it

[2022-08-23 01:02] liuw1 commented on #381
I will take it

[2022-08-23 01:02] liuw1 commented on #382
I will take it

[2022-08-23 01:02] liuw1 commented on #383
I will take it

[2022-08-23 01:02] liuw1 commented on #384
I will take it

[2022-08-23 03:31] gaojiaqi7 commented on #385
hi @dimakuv , there is no such code in td-shim since it doesn't need to communicate with VMM/device using shared page, but you can do it as follows:
 - Get the GPAW from the result of https://github.com/confidential-containers/td-shim/blob/main/tdx-tdcall/src/tdx.rs#L448, and set the shared-bit (GPAW+1, for example, the 52nd bit) of the page table entry of the target page.
 - Flush the TLB.
 - Cal

[2022-08-23 10:57] dimakuv commented on #385
Thanks @gaojiaqi7,

I have some questions.

1. Why do you say that the SHARED bit is `GPAW+1`? I thought it's just `GPAW`. Here is the exerpt from the Intel TDX CPU Architectural Specification:

2. It looks like VMM can "supress" accesses to shared pages and instead return a #VE exception. Here is the exerpt from the Intel TDX Module Base Architecture Specification:

How can I be sure that my TDX-

[2022-08-23 12:47] dimakuv commented on #385
Ok, my question 2 is incorrect. I found the answer in Intel SDM, Volume 3, Section 25.5.7 "Virtualization Exceptions". The #VE exception happens only on specific EPT violations (which shouldn't be the case here, if the pages tables are all correctly set up). That phrase about *pages are eligible for #VE mutation* means that if a corresponding page entry in the EPT has bit 63 set to zero, then spec

[2022-08-23 13:00] gaojiaqi7 commented on #385
right it's a typo, according to the spec: SHARED bit is at GPA bit GPAW - 1. When GPAW is 48, the SHARED bit should be bit 47, and when GPAW is 52, the SHARED bit should be bit 51(from bit 0, the 52nd bit, the last GPA bit)

[2022-08-24 05:53] gaojiaqi7 commented on #376
This can be ensured by checking the validity of the resource hobs

the `to_be_accepted` here is less than or equal to the `resource_length`

It is impossible for `idx` to overflow since we don't so much memory to hold the `usize::MAX * size_of::<ResourceDescription>()`

the `size` here is less than or equal to the `to_be_accepted `

[2022-08-24 08:18] gaojiaqi7 commented on #377
The `i` here is limited by the `MAX_WORKING_AP_COUNT`, the `stack_top` will not overflow

The `align_low + major_part` is eqaul to the physical resource size which should has been checked before

[2022-08-24 08:18] #377 closed

[2022-08-27 02:23] #380 closed

[2022-08-27 02:23] #381 closed

[2022-08-27 02:23] #382 closed

[2022-08-27 02:24] #384 closed

[2022-08-29 02:00] gaojiaqi7 commented on #338
Closed by https://github.com/confidential-containers/td-shim/pull/378

[2022-08-29 02:00] #338 closed

[2022-08-29 06:44] dimakuv commented on #385
Thanks again! I'm still stuck with QEMU not recognizing the Shared TD pages, but it's a different problem.

[2022-08-29 06:44] #385 closed

[2022-08-31 01:40] #383 closed

[2022-08-31 01:43] liuw1 opened #394 "CI TDX Integration test depends on td-shim debug log is not reasonable"
It will block task #348

[2022-08-31 02:16] liuw1 opened #396 "[MIRAI] Potential arithmetic overflow in td-layout"
warning: possible attempt to subtract with overflow
  --> td-layout/src/lib.rs:99:13
   |
99 |             current_base -= TD_PAYLOAD_UNACCEPTED_MEMORY_BITMAP_SIZE as u64;
   |             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

warning: possible attempt to add with overflow
   --> td-layout/src/metadata.rs:228:21
    |
228 |                     bfv_cnt += 1;
    |

[2022-08-31 02:25] gaojiaqi7 commented on #396
hi, can you help to try with the https://github.com/confidential-containers/td-shim/pull/397 to see if this still a warning?

[2022-08-31 03:09] liuw1 opened #398 "[MIRAI] Potential arithmetic overflow in td-loader"
warning: possible attempt to multiply with overflow
   --> td-loader/src/elf.rs:68:18
    |
68  |     for reloc in elf.relocations()? {
    |                  ^^^^^^^^^^^^^^^^^
    |
note: related location
   --> td-loader/src/elf64.rs:782:28
    |
782 |         let dynamic_info = self.dynamic_info()?;
    |                            ^^^^^^^^^^^^^^^^^^^
note: related location
   --> td-loader/src

[2022-08-31 03:14] liuw1 opened #399 "[MIRAI] Possible range start index {} out of range for slice of length {} in td-loader"
warning: possible range start index {} out of range for slice of length {}
   --> td-loader/src/elf64.rs:493:30
    |
493 |         let current_bytes = &self.entries[offset..];
    |                              ^^^^^^^^^^^^^^^^^^^^^^
    |
note: related location
   --> /home/liuwei/.rustup/toolchains/nightly-2022-08-08-x86_64-unknown-linux-gnu/lib/rustlib/src/rust/library/core/src/slice/index.rs:

[2022-08-31 03:46] liuw1 opened #401 "[MIRAI] Potential arithmetic overflow in td-paging"
warning: possible attempt to add with overflow
   --> td-paging/src/lib.rs:30:5
    |
30  |     frame::init(base, size);
    |     ^^^^^^^^^^^^^^^^^^^^^^^
    |
note: related location
   --> td-paging/src/frame.rs:137:9
    |
137 |         allocator.alloc().unwrap();
    |         ^^^^^^^^^^^^^^^^^
note: related location
   --> td-paging/src/frame.rs:104:19
    |
104 |         let ret = self.inner

[2022-08-31 03:47] liuw1 opened #402 "[MIRAI] Possible physical addresses must not have any bits in the range 52 to 64 set in td-paging"
warning: possible physical addresses must not have any bits in the range 52 to 64 set
   --> td-paging/src/frame.rs:125:9
    |
125 | /         self.alloc()
126 | |             .map(|addr| PhysFrame::containing_address(PhysAddr::new(addr as u64)))
    | |__________________________________________________________________________________^
    |
note: related location
   --> /home/liuwei/.rustup/tool

[2022-08-31 04:56] liuw1 opened #403 "[MIRAI] Possible index out of bounds in td-shim/src/lib.rs"
warning: possible index out of bounds
   --> td-shim/src/lib.rs:119:5
    |
119 |     buf[0] = (data & 0xFF) as u8;
    |     ^^^^^^

warning: possible index out of bounds
   --> td-shim/src/lib.rs:120:5
    |
120 |     buf[1] = ((data >> 8) & 0xFF) as u8;
    |     ^^^^^^

warning: possible index out of bounds
   --> td-shim/src/lib.rs:121:5
    |
121 |     buf[2] = ((data >> 16) & 0xFF) as u8;

[2022-08-31 05:17] liuw1 opened #404 "[MIRAI] Potential arithmetic overflow in td-shim"
warning: possible attempt to subtract with overflow
   --> td-shim/src/acpi.rs:108:13
    |
108 |             (self.header.length as usize - size_of::<GenericSdtHeader>()) / size_of::<u64>();
    |             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

warning: possible attempt to add with overflow
   --> td-shim/src/event_log.rs:351:17
    |
351 |                 offset += CC_

[2022-08-31 05:19] liuw1 commented on #404
**Reproduce command:**
cd td-shim && MIRAI_FLAGS="--diag=library" cargo mirai

[2022-08-31 05:19] liuw1 commented on #403
**Reproduce command:**
cd td-shim && MIRAI_FLAGS="--diag=library" cargo mirai

[2022-08-31 05:19] liuw1 commented on #402
**Reproduce command:**
cd td-paging && MIRAI_FLAGS="--diag=library" cargo mirai

[2022-08-31 05:20] liuw1 commented on #401
**Reproduce command:**
cd td-paging && MIRAI_FLAGS="--diag=library" cargo mirai

[2022-08-31 05:20] liuw1 commented on #399
**Reproduce command:**
cd td-loader && MIRAI_FLAGS="--diag=library" cargo mirai

[2022-08-31 05:21] liuw1 commented on #398
**Reproduce command:**
cd td-loader && MIRAI_FLAGS="--diag=library" cargo mirai

[2022-08-31 12:58] gaojiaqi7 commented on #349
Hi @dimakuv , sorry I missed this.

Yes, you are right. Once the OS kernel set its own page table the one reserved by td-shim can be freed. But I think it's not easy to identify which piece of memory is used by page table, because its type in the E820 table is reserved.

You can update the `td-layout/src/runtime.rs` by running the tool under devtools/td-layout-config with `cargo run -- --config co

[2022-08-31 13:04] dimakuv commented on #349
Thanks, I got all the answers I wanted. I will close this issue now.

[2022-08-31 13:04] #349 closed

[2022-09-06 01:46] gaojiaqi7 opened #405 "Move event log out from td-shim and enhance its API"

[2022-09-06 13:51] liuw1 commented on #404
Both are false positive:
--> td-shim/src/acpi.rs:108:13
self.header.length is always >= size_of::<GenericSdtHeader>(). Xsdt init with length size_of::<GenericSdtHeader>().

--> td-shim/src/event_log.rs:351:17
If the code goes to this condition means read cc_event_header successfully, so it cannot be overflow.

[2022-09-07 01:40] jyao1 commented on #294
For secure boot, we may consider https://crates.io/crates/openssl

[2022-09-07 05:31] liuw1 commented on #401
All findings point to dependencies @gaojiaqi7 Do you have any comments here?

[2022-09-07 13:08] jodh-intel commented on #294
Related: https://github.com/confidential-containers/community/issues/44.

[2022-09-08 08:29] liuw1 opened #413 "Typo function name dump_pic_16_bytes"
The name should be dump_pci_16_bytes

[2022-09-08 13:56] gaojiaqi7 commented on #279
The error appears to be due to the use of `xbuild`. If we use `cargo build -p td-shim --target=x86_64-unknown-uefi -Z build-std=core,alloc -Z build-std-features=compiler-builtins-mem --release --features=main,tdx --no-default-features` to build td-shim, this issue will not exist any more.

[2022-09-08 14:18] gaojiaqi7 commented on #279
Similar to the problem with `sha2`.
If we do not force the software implementation (then it will compile the avx2 related code which is not enabled in target `x86_64-unknown-uefi` by default):
`cargo xbuild` will build pass but fail to run.

`cargo build` debug build will fail due to:
[code]
`cargo build` release build will compile and run successfully.

[2022-09-13 02:11] #403 closed

[2022-09-13 02:14] #398 closed

[2022-09-13 02:14] #399 closed

[2022-09-13 02:17] #404 closed

[2022-09-13 02:20] #396 closed

[2022-09-13 05:27] gaojiaqi7 opened #414 "Use target `x86_64-unknown-none` to build td-shim"

[2022-09-13 05:28] gaojiaqi7 commented on #414
@jyao1 should we support both `x86_64-unknown-none` and `x86_64-unknown-uefi`, or only use `x86_64-unknown-none`

[2022-09-14 05:34] liuw1 opened #416 "Add unit test case for PR #410"

[2022-09-14 05:36] liuw1 opened #417 "Using "fn validate_sections(sections: &[TdxMetadataSection]) -> Result<()>" to check instead of bool"

[2022-09-15 01:29] jyao1 commented on #405
Please add more detail on why this is needed.
This description just tells what, but no clue on why.

[2022-09-15 09:18] dimakuv commented on #350
I solved all my problems anyway, so closing this issue.

[2022-09-15 09:18] #350 closed

[2022-09-15 09:31] dimakuv opened #418 "TD-Shim must warn payload how IDT is set up"
I am developing my ELF payload that TD-Shim loads.

## Security/usability issue

My ELF payload performs some `rdmsr`, `wrmsr`, `cpuid` instructions. Under Intel TDX, **only a predefined subset** of MSRs and CPUID leaves can be accessed natively with these instructions; the rest MSRs and CPUID leaves generate a #VE exception, and may be accessed by the #VE handler via `tdvmcall_rdmsr`, `tdvmcall_w

[2022-09-15 09:40] jyao1 commented on #418
Good finding.
1. Agree. We can add more comment there.
2. Disagree. Adding debug message in exception handler is not the best idea.
3. Would you please clarify how to force ? Uninstall #VE before transfer control ?

[2022-09-15 09:45] dimakuv commented on #418
True, not the best idea. But TD-Shim could introduce log levels (for debugging purposes), and on the most verbose level, TD-Shim could print some messages even in the exception handler (through TDVMCALL_IO to port 0x3F8). This way I would be able to identify the problem immediately.

Yes, this is a good option. Actually, this is what I was expecting when I started writing my payload.

[2022-09-15 13:37] liuw1 commented on #413
Sorry, I did incorrect operation, this issue is in another project. So close it.

[2022-09-15 13:37] #413 closed

[2022-09-15 14:23] jyao1 commented on #418
I think we can enable 1 and 3 at first.
2 is risky, because of nest interrupt. I think we can revisit after 1 and 3.

[2022-09-16 01:31] gaojiaqi7 commented on #405
It is moved out from `td-shim` crate to facilitate other programs to use it to replay or query the event log, including `EventlogWriter`, `EventlogReader` and some TCG definitions

[2022-09-19 05:26] liuw1 commented on #376
@gaojiaqi7
warning: possible attempt to add with overflow --> td-shim/src/bin/td-shim/memory.rs:284:21 | 284 | new.physical_start += to_be_accepted; | ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

If the feature is not "lazy-accept", td_be_accepted = u64::MAX. Line 321 may overflow.
https://github.com/confidential-containers/td-shim/blob/553e3e6b3886a56a05decbbab37561da2fc5c534/td-shim/src/bin/td-shim/mem

[2022-09-19 05:32] gaojiaqi7 commented on #376
It should not go into line 321

[2022-09-19 05:44] liuw1 commented on #376
Sorry, I misunderstood it. The fix is OK. So close it.

[2022-09-19 05:44] #376 closed

[2022-09-21 07:48] liuw1 commented on #401
Close this issue, since all findings are in dependencies.

[2022-09-21 07:48] #401 closed

[2022-09-21 09:40] liuw1 commented on #402
@gaojiaqi7 Could you help to take a look at this issue?

[2022-09-30 01:37] #417 closed

[2022-09-30 02:35] gaojiaqi7 commented on #339
Done by https://github.com/confidential-containers/td-shim/pull/407

[2022-09-30 02:35] #339 closed

[2022-09-30 02:36] gaojiaqi7 commented on #414
Close this with https://github.com/confidential-containers/td-shim/pull/415

[2022-09-30 02:36] #414 closed

[2022-09-30 02:36] gaojiaqi7 commented on #405
Completed by https://github.com/confidential-containers/td-shim/pull/406

[2022-09-30 02:36] #405 closed

[2022-09-30 02:37] gaojiaqi7 commented on #348
https://github.com/confidential-containers/td-shim/pull/400

[2022-09-30 02:37] #348 closed

[2022-10-04 12:10] dimakuv opened #420 "Can TD-Shim skip relocations for the ELF payload?"
I am developing my ELF payload that TD-Shim loads.

My ELF payload is a generic OS kernel that can be started in different ways. One of these ways is as an ELF payload via the TD-Shim.

Therefore, my ELF payload has a generic startup sequence that has the step of **self-relocation**. In other words, one of the first things my ELF payload does is to find all relocations (by reading its own ELF head

[2022-10-10 02:01] gaojiaqi7 commented on #420
td-shim relocates the payload at runtime unconditionally. We can add a feature flag to disable the relocation at runtime

[2022-10-10 04:46] #416 closed

[2022-10-10 06:53] dimakuv commented on #420
@gaojiaqi7 Thanks for reply. Yes, adding such a flag would be nice.

[2022-10-11 12:53] ariel-adam commented on #1
@sameo dude, is this issue still relevant or can be closed?
If it's still relevant to what release do you think we should map it to (mid-November, end-December, mid-February etc...)?

[2022-10-11 12:54] ariel-adam commented on #3
@c3d is this issue still relevant or can be closed?
If it's still relevant to what release do you think we should map it to (mid-November, end-December, mid-February etc...)?

[2022-10-11 12:54] ariel-adam commented on #4
@c3d is this issue still relevant or can be closed?
If it's still relevant to what release do you think we should map it to (mid-November, end-December, mid-February etc...)?

[2022-10-11 12:57] ariel-adam commented on #47
@jyao1 is this issue still relevant or can be closed?
If it's still relevant to what release do you think we should map it to (mid-November, end-December, mid-February etc...)?

[2022-10-11 12:59] ariel-adam commented on #109
@jodh-intel is this issue still relevant or can be closed?
If it's still relevant to what release do you think we should map it to (mid-November, end-December, mid-February etc...)?

[2022-10-11 13:01] ariel-adam commented on #135
@jiangliu is this issue still relevant or can be closed?
If it's still relevant to what release do you think we should map it to (mid-November, end-December, mid-February etc...)?

[2022-10-11 13:01] ariel-adam commented on #136
@jiangliu is this issue still relevant or can be closed?
If it's still relevant to what release do you think we should map it to (mid-November, end-December, mid-February etc...)?

[2022-10-11 13:03] ariel-adam commented on #165
@haowqs is this issue still relevant or can be closed?
If it's still relevant to what release do you think we should map it to (mid-November, end-December, mid-February etc...)?

[2022-10-11 13:08] ariel-adam commented on #228
@haowqs can you close this issue?

[2022-10-11 13:10] ariel-adam commented on #255
@jyao1 is this issue still relevant or can be closed?
If it's still relevant to what release do you think we should map it to (mid-November, end-December, mid-February etc...)?

[2022-10-11 13:12] ariel-adam commented on #272
@longlongyang is this issue still relevant or can be closed?
If it's still relevant to what release do you think we should map it to (mid-November, end-December, mid-February etc...)?

[2022-10-11 13:14] ariel-adam commented on #272
@longlongyang is this issue still relevant or can be closed?
If it's still relevant to what release do you think we should map it to (mid-November, end-December, mid-February etc...)?

[2022-10-11 13:14] ariel-adam commented on #279
@longlongyang is this issue still relevant or can be closed?
If it's still relevant to what release do you think we should map it to (mid-November, end-December, mid-February etc...)?

[2022-10-11 13:15] ariel-adam commented on #290
@jyao1 is this issue still relevant or can be closed?
If it's still relevant to what release do you think we should map it to (mid-November, end-December, mid-February etc...)?

[2022-10-11 13:15] ariel-adam commented on #294
@jyao1 is this issue still relevant or can be closed?
If it's still relevant to what release do you think we should map it to (mid-November, end-December, mid-February etc...)?

[2022-10-11 13:24] dcmiddle commented on #294
@jyao1 can you clarify:

Is there a blocked issue or something we can track?

[2022-10-11 14:15] jodh-intel commented on #109
Closing since @xiaoyuxlu has explained this limitation.

[2022-10-11 14:15] #109 closed

[2022-10-11 14:57] gaojiaqi7 commented on #420
hi @dimakuv Can you take a try with the https://github.com/confidential-containers/td-shim/pull/424 so that I can make sure the change is good

[2022-10-11 17:08] dimakuv commented on #420
Thanks @gaojiaqi7! I'll try this PR tomorrow.

[2022-10-12 05:31] longlongyang commented on #272
Not much relevant I think, This is an unexpected observation when enabling striping symbols. But since we now have a tool to do the striping work, this can be closed , or map it to mid-February to keep track of it

[2022-10-12 05:31] longlongyang commented on #279
Not much relevant I think, This is an unexpected observation when enabling striping symbols. But since we now have a tool to do the striping work, this can be closed , or map it to mid-February to keep track of it

[2022-10-12 09:29] ariel-adam commented on #279
I will close it for now and feel free to open if and when relevant (map it to the CoCo releases project and the correct drop)

[2022-10-12 09:29] #279 closed

[2022-10-12 09:30] ariel-adam commented on #272
Similar comment, I will close it for now and you can open when relevant

[2022-10-12 09:30] #272 closed

[2022-10-12 12:19] c3d commented on #4
@ariel-adam The bad code is still there.

[2022-10-12 12:29] dimakuv commented on #420
@gaojiaqi7 Got this error after updating to your #424 branch:
[code]

Note that I didn't yet apply the `disable-relocation` feature (wanted to test without this flag first). What could this mean?

[2022-10-12 12:54] gaojiaqi7 commented on #420
I can't reproduce this error with the example `td-payload`. Can you try to recompile the td-shim? we changed its target has to `x86_64-unknown-none` recently

[2022-10-12 13:18] ariel-adam commented on #4
Ack, I've put it on the CoCo releases project with not target drop.
Lets see in the future if someone jumps on it and we close it at some point

[2022-10-12 15:15] dimakuv commented on #420
Ok, a clean rebuild fixed this issue.

My payload works fine without the `disable-relocation` feature (so, with defaults). For this to work, I modified my payload to not perform relocations by itself.

But when I tried `--features="disable-relocation"` and with my payload unmodified, everything started silently failing. (I will need to debug this tomorrow, just giving you a quick reply now.)

I ha

[2022-10-13 01:04] liuw1 commented on #402
@ariel-adam Jiaqi has submitted PR to fix this issue. It will be closed when the PR is merged.

[2022-10-13 01:39] gaojiaqi7 opened #427 "ELF `.init_array` should be parsed from `PT_DYNAMIC` segment"
Section header table is not loaded into memory so it cannot be used at runtime

[2022-10-13 04:51] ariel-adam commented on #402
Cool, I've mapped it to the CoCo releases project, drop V0.2.0 priority medium

[2022-10-13 05:20] gaojiaqi7 commented on #420
Yes, it is correct. The feature is set to td-shim

[2022-10-13 05:29] gaojiaqi7 commented on #420
@dimakuv how does your ELF payload read its own ELF header and metadata, using offset or something else? Dose the payload needs loader to map its segments to the specified virtual address?

[2022-10-13 06:37] dimakuv commented on #420
@gaojiaqi7 The ELF payload reads its own ELF header and metadata using a global symbol that is located at the very start of the ELF file image (and thus points to the ELF header).

Similar to this code:
- https://github.com/gramineproject/gramine/blob/63b62c4aff4ec0d59a1b715cd2163d2f1f7922eb/pal/src/pal_rtld.c#L568-L574
- https://github.com/gramineproject/gramine/blob/f7995b60c7b49e075adefa1857376

[2022-10-13 08:38] gaojiaqi7 opened #429 "td-shim debug binary can't be put into final image"
Running `target\debug\td-shim-ld.exe target/x86_64-unknown-none/debug/ResetVector.bin target/x86_64-unknown-none/debug/td-shim -p target/x86_64-unknown-none/release/td-payload -o target/release/final-elf.bin`
[2022-10-13T08:37:26Z ERROR td_shim_tools] Size of IPL file (5223400) is invalid, should be in range [0-3440452]
Error: Custom { kind: Other, error: "invalid file size" }
error: process didn'

[2022-10-16 15:14] #402 closed

[2022-10-18 11:37] gaojiaqi7 commented on #420
Hi @dimakuv I updated the branch today, can you try again with the latest？

[2022-10-18 13:40] dimakuv commented on #420
@gaojiaqi7 No, still the same problem. And I still didn't have time to debug it fully.

[2022-10-20 06:25] gaojiaqi7 opened #431 "firmware file size in CFV is not correct"
The file size should be the real size rather than the total size with padding zeros
https://github.com/confidential-containers/td-shim/blob/main/td-shim-tools/src/enroller.rs#L87

The value can't be written into the slice using the statement like:
https://github.com/confidential-containers/td-shim/blob/main/td-shim-tools/src/enroller.rs#L88

[2022-10-20 06:35] gaojiaqi7 commented on #427
close per https://github.com/confidential-containers/td-shim/pull/425

[2022-10-20 06:35] #427 closed

[2022-10-24 01:33] #431 closed

[2022-10-27 02:58] liuw1 opened #435 "Need to resolve warnings in test code detected by CI"
Check warning on line 64 in tests/test-td-paging/src/lib.rs

GitHub Actions
/ Run Integration Test (ubuntu-20.04)
unused variable: `pt`

Check warning on line 64 in tests/test-td-paging/src/lib.rs

GitHub Actions
/ Run Integration Test (ubuntu-20.04)
variable does not need to be mutable

 Check warning on line 102 in tests/test-td-paging/src/lib.rs

GitHub Actions
/ Run Integration Test (ubuntu-20

[2022-10-27 03:09] liuw1 commented on #435
I will take it.

[2022-10-28 02:01] liuw1 opened #437 "[Bug] Attempt to add with overflow in td-loader/src/elf64.rs"
fuzz/artifacts/afl_elf/default/crashes/id:000000,sig:06,src:000033+000020,time:76074,execs:215921,op:splice,rep:16
thread 'main' panicked at 'attempt to add with overflow', /home/liuwei/workspace/td-shim/td-loader/src/elf64.rs:814:16
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

[2022-10-28 02:01] liuw1 commented on #437
I will fix it

[2022-10-31 01:18] liuw1 opened #439 "[Bug] td-loader may panic during AFL fuzzing test"
![1](https://user-images.githubusercontent.com/35357095/198912313-b2a78d0c-34eb-4f24-a3c5-38f1b949422f.PNG)

[2022-10-31 12:43] liuw1 opened #441 "Multiple vulnerabilities found by advisories scan"
error[A001]: Multiple vulnerabilities resulting in out-of-bounds writes
   ┌─ /home/liuwei/td-shim/Cargo.lock:40:1
   │
40 │ linked_list_allocator 0.9.1 registry+https://github.com/rust-lang/crates.io-index
   │ --------------------------------------------------------------------------------- security vulnerability detected
   │
   = ID: RUSTSEC-2022-0063
   = Advisory: https://rustsec.org/advisor

[2022-11-02 01:33] #441 closed

[2022-11-02 01:34] #437 closed

[2022-11-04 01:36] #439 closed

[2022-11-04 14:05] fidencio opened #444 "td-shim build using the `build_final.sh` script is failing"
[code]

This was caught when trying to bump td-shim to its latest commit on the Kata Contaners side.

[2022-11-04 14:31] fidencio commented on #444
This was caused because Kata Containers had not update its scripts to include the `git submodule update --init` and  `make preparation` bits.

[2022-11-04 14:36] #444 closed

[2022-11-04 15:35] fidencio opened #445 "Release v0.2.0 tagging e5961c30861208b748dc0604b591da788701c381"
We've done tests on the Kata Containers side and everything is passing when using `e5961c30861208b748dc0604b591da788701c381`.

Please, cut a `v0.2.0` release based on that commit and, on Monday, we'll do the last adjustments on the Kata Containers side.

[2022-11-07 07:13] jyao1 commented on #445
done

[2022-11-07 07:13] #445 closed

[2022-11-07 07:23] liuw1 opened #446 "Need to fix release.yml"
https://github.com/confidential-containers/td-shim/actions/runs/3408280998

[2022-11-08 01:35] #446 closed

[2022-11-09 07:52] gaojiaqi7 opened #449 "Need support `PermMem` tdvf section type"
If PermMem section exists, TD will own the memory allocation and TD HOB should be ignored.

[2022-11-15 13:49] gaojiaqi7 opened #452 "Should set `log` crate optional for `td-shim`"
Any other crates that depend on crate `td-shim` will derive the feature of the log crate, we can remove the dependency from the `lib`.

[2022-11-21 13:28] gaojiaqi7 opened #454 "Need handle ACPI table errors in td-shim/bin"

[2022-11-22 01:33] #429 closed

[2022-11-22 01:47] gaojiaqi7 commented on #452
Completed by https://github.com/confidential-containers/td-shim/pull/451

[2022-11-22 01:47] #452 closed

[2022-11-22 01:48] gaojiaqi7 commented on #449
Completed by https://github.com/confidential-containers/td-shim/pull/450

[2022-11-22 01:48] #449 closed

[2022-11-29 03:21] xiaoyuxlu opened #456 "Need to determine heap and stack usage"
1. Max heap usage
2. Max stack usage